<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Forexy | Login</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"/>
    <h:outputStylesheet library="dist" name="css/sb-admin-2.min.css"/>
</h:head>

<h:body class="" style="background-color:#28918C">
    <div class="container">
        <h:form>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block">
                                    <h:graphicImage class="img-circle user-image"
                                                    style="width: 350px" height="350px" library="images"
                                                    name="forexy-group.JPG"/>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Bienvenue chez Forexy Group</h1>
                                            <p style="color: red">
                                                <p:messages id="messages" closable="true" showDetail="false"/>
                                            </p>

                                        </div>
                                        <div class="user">
                                            <div class="form-group">

                                                <p:inputText id="username" required="true"
                                                             class="form-control form-control-user"
                                                             placeholder="Enter Username..."
                                                             value="#{loginBean.username}">
                                                </p:inputText>
                                            </div>
                                            <div class="form-group">
                                                <p:password id="password" required="true"
                                                            class="form-control form-control-user"
                                                            placeholder="Password"
                                                            value="#{loginBean.password}">
                                                </p:password>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="customCheck"/>
                                                    <label class="custom-control-label" for="customCheck">Remember
                                                        Me</label>
                                                </div>
                                            </div>
                                            <p:commandLink action="#{loginBean.login}" value="Login" update="messages"
                                                           class="btn  btn-sm btn-user btn-block"
                                                           style="background-color:#28918C; color: white">

                                            </p:commandLink>
                                            <hr/>
                                        </div>
                                        <div class="text-center">

                                            <h:link class="small" style="color:#28918C"  outcome="/pages/userManagement/resetPassword"><h:outputText style="text-align:center" value="#{messages.login_forgot_password}" /></h:link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
    <h:outputScript library="dist" name="plugins/bootstrap/js/bootstrap.bundle.min.js"/>
    <h:outputScript library="dist" name="js/sb-admin-2.min.js"/>
</h:body>

</html>
