<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="contratDataForm"
                                onkeypress="if (event.keyCode == 13) {return false; }">

                            <p:dataTable id="contratTable"
                                         class="no-border table table-hover table-striped table-sm table-responsive table-bg"
                                         value="#{contratBean.findAllContratsByAgence()}" var="contrat"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                                         paginatorPosition="bottom" widgetVar="contratTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">
                                    Contrats
                                </f:facet>
                                <p:column headerText="#{messages.field_label_contrat_nom}" sortBy="#{contrat.nom} #{contrat.postNom} #{contrat.prenom}" width="30"
                                          >
                                    <f:facet name="filter">
                                        <p:inputText id="nomFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateNomFilter(); return false; }">
                                            <p:remoteCommand name="updateNomFilter" update="contratTable:nomFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.nom} #{contrat.postNom} #{contrat.prenom}"/>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_montant}" width="30"
                                          sortBy="#{contrat.montant}" >
                                    <f:facet name="filter">
                                        <p:inputText id="montantFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateMontantFilter(); return false; }">
                                            <f:convertNumber/>
                                            <p:remoteCommand name="updateMontantFilter"
                                                             update="contratTable:montantFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.montant} USD"><f:convertNumber/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_contratID}" width="80"
                                          sortBy="#{contrat.contratID}" >
                                    <f:facet name="filter">
                                        <p:inputText id="contratIDFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateContratIDFilter(); return false; }">
                                            <p:remoteCommand name="updateContratIDFilter"
                                                             update="contratTable:contratIDFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.contratID}"/>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_date_echeance1}" sortBy="#{contrat.dateEcheance1}" width="30">
                                    <h:outputText value="#{contrat.dateEcheance1}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_date_echeance2}" sortBy="#{contrat.dateEcheance2}" width="30">
                                    <h:outputText value="#{contrat.dateEcheance2}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_date_echeance3}" sortBy="#{contrat.dateEcheance3}" width="30">
                                    <h:outputText value="#{contrat.dateEcheance3}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_telephone}" width="30"
                                          sortBy="#{contrat.telephone}" >

                                    <h:outputText value="#{contrat.telephone}"/>
                                </p:column>
                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          width="120" exportable="false">
                                    <p:commandButton class="btn btn-info" icon="ui-icon-zoomin" update=":viewContratDialog" value="Voir" style="background-color: #17A2B4"
                                                     oncomplete="PF('viewContratDialogWidget').show()"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>

                                    <p:commandButton class="btn btn-success" icon="ui-icon-pencil" update=":editContratDialog"
                                                     resetValues="true" value="Editer" style="background-color: #28a745"
                                                     rendered="#{contratBean.isPermitted(contrat, 'contrat:update')}"
                                                     action="#{contratBean.onDialogOpen(contrat)}"
                                                     oncomplete="PF('editContratDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton class="btn btn-info" icon="ui-icon-print" ajax="false" immediate="true" value="Impr"
                                                     title="Imprimer le contrat" onclick="PrimeFaces.monitorDownload(start, stop);"
                                                     actionListener="#{contratBean.printContract(contrat)}"/>

                                    <p:commandButton icon="ui-icon-copy" update=":contratAttachmentsDialog"
                                                     resetValues="true" value="Joint"
                                                     oncomplete="PF('contratAttachmentsDialogWidget').show()"
                                                     title="#{messages.label_attachments}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white"
                                                     rendered="#{contratBean.isPermitted(contrat, 'contrat:delete')}"
                                                     oncomplete="PF('deleteContratDialogWidget').show()"
                                                     title="#{messages.label_delete}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>

                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton value="#{messages.create_new_contrat}" icon="ui-icon-plusthick"
                                                     action="#{contratBean.prepareNewContrat()}"
                                                     resetValues="true" update=":editContratDialog"
                                                     oncomplete="PF('editContratDialogWidget').show()"
                                                     rendered="#{contratBean.isPermitted('contrat:create')}"
                                                     style="float:right"/>
                                    <p:spacer height="30px"/>
                                </f:facet>

                            </p:dataTable>

<!--                            <h:panelGrid columns="2">-->
<!--                                <p:panel header="#{messages.export_all_data}">-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>-->
<!--                                        <p:dataExporter type="xls" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>-->
<!--                                        <p:dataExporter type="pdf" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/csv.png" alt="CSV"/>-->
<!--                                        <p:dataExporter type="csv" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                </p:panel>-->

<!--                                <p:panel header="#{messages.export_page_data}">-->
<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>-->
<!--                                        <p:dataExporter type="xls" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>-->
<!--                                        <p:dataExporter type="pdf" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/csv.png" alt="CSV"/>-->
<!--                                        <p:dataExporter type="csv" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                </p:panel>-->
<!--                            </h:panelGrid>-->

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <p:confirmDialog id="deleteContratDialog" widgetVar="deleteContratDialogWidget"
                         rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{contratBean.delete}"
                                         update=":contratDataForm :growlForm:growl"
                                         oncomplete="PF('deleteContratDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteContratDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editContratDialog" header="#{messages.label_contrat_caption}" resizable="true" responsive="true"
                  width="700px"
                  modal="true" widgetVar="editContratDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <h:form id="editContratForm">
                <p:outputPanel id="contratEditPanel">
                    <ui:include src="/pages/contrat/contratEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{contratBean.persist}"
                                         update=":editContratForm:contratEditPanel :contratDataForm :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editContratDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="color: white;background-color: red"
                                         onclick="PF('editContratDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewContratDialog" header="#{messages.label_contrat_caption}" modal="true"
                  widgetVar="viewContratDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <h:form id="viewContratForm">
                <ui:include src="/pages/contrat/contratViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="color: white; background-color: red"
                                     onclick="PF('viewContratDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="contratAttachmentsDialog" header="#{messages.label_attachments}" modal="true"
                  widgetVar="contratAttachmentsDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <p:outputPanel id="contratAttachmentsPanel">
                <ui:include src="/pages/contrat/contratAttachmentsInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <h:form>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="color: white;background-color: red"
                                         onclick="PF('contratAttachmentsDialogWidget').hide()" type="button"/>
                    </h:form>
                </div>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgenceFromEditDialog"
                  rendered="#{contratBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_contrat_create_agence}" modal="true"
                  widgetVar="createAgenceFromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgencePanel">
                <h:form id="createAgenceForm">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideContratSelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{contratBean.updateAgence(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editContratForm:agenceSelectInput :createAgencePanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgenceFromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close" style="color: white;background-color: red"
                                         onclick="PF('createAgenceFromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgence2FromEditDialog"
                  rendered="#{contratBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_contrat_create_agence2}" modal="true"
                  widgetVar="createAgence2FromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgence2Panel">
                <h:form id="createAgence2Form">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideContrat2SelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{contratBean.updateAgence2(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editContratForm:agence2SelectInput :createAgence2Panel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgence2FromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close" style="color: white;background-color: red"
                                         onclick="PF('createAgence2FromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>
