<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not contratBean.isPermitted(contratBean.contrat, 'contrat:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>

    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:read')}">

        <h:outputText value="#{messages.field_label_contrat_nom}:" />
        <h:outputText value="#{contratBean.contrat.nom} #{contratBean.contrat.postNom} #{contratBean.contrat.prenom}" />

        <h:outputText value="#{messages.field_label_contrat_piece}:" />
        <h:outputText value="#{contratBean.getLabelForPiece(contratBean.contrat.piece)}" />

        <h:outputText value="#{messages.field_label_contrat_montant}:" />
        <h:outputText value="#{contratBean.contrat.montant} $" ><f:convertNumber /></h:outputText>

        <h:outputText value="#{messages.field_label_contrat_bordereauID}:" />
        <h:outputText value="#{contratBean.contrat.bordereauID}" />

        <h:outputText value="#{messages.field_label_contrat_recuID}:" />
        <h:outputText value="#{contratBean.contrat.recuID}" />

        <h:outputText value="#{messages.field_label_contrat_date}:" />
        <h:outputText value="#{contratBean.contrat.date}" ><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>

        <h:outputText value="#{messages.field_label_contrat_adresse}:" />
        <h:outputText value="#{contratBean.contrat.adresse}" />

        <h:outputText value="#{messages.field_label_contrat_telephone}:" />
        <h:outputText value="#{contratBean.contrat.telephone}" />

        <h:outputText value="#{messages.field_label_contrat_email}:" />
        <h:outputText value="#{contratBean.contrat.email}" />

        <h:outputText value="#{messages.field_label_contrat_contratID}:" />
        <h:outputText value="#{contratBean.contrat.contratID}" />


        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{contratBean.contrat.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{contratBean.contrat.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{contratBean.contrat.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{contratBean.contrat.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>