<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="contratDataForm"
                                onkeyup="if (event.keyCode == 13) {return false; }">

                            <p:dataTable id="contratTable"
                                         class="no-border table table-hover table-striped table-sm table-responsive table-bg"
                                         value="#{contratBean.lazyModel}" var="contrat"
                                         style="width: auto"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                                         paginatorPosition="bottom" widgetVar="contratTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">
                                    Contrats
                                </f:facet>

                                <p:column headerText="#{messages.field_label_contrat_nom}" sortBy="#{contrat.nom} #{contrat.postNom} #{contrat.prenom}"
                                      filterBy="#{contrat.nom}"    >
                                    <f:facet name="filter">
                                        <p:inputText id="nomFilter" style="width: auto"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateNomFilter(); return false; }">
                                            <p:remoteCommand name="updateNomFilter" update="contratTable:nomFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.nom} #{contrat.postNom} #{contrat.prenom}"/>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_montant}"  filterBy="#{contrat.montant}"
                                          sortBy="#{contrat.montant}" >
                                    <f:facet name="filter">
                                        <p:inputText id="montantFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateMontantFilter(); return false; }">
                                            <f:convertNumber/>
                                            <p:remoteCommand name="updateMontantFilter"
                                                             update="contratTable:montantFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.montant} USD"><f:convertNumber/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_contratID}"
                                          sortBy="#{contrat.contratID}" filterBy="#{contrat.contratID}" >
                                    <f:facet name="filter">
                                        <p:inputText id="contratIDFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateContratIDFilter(); return false; }">
                                            <p:remoteCommand name="updateContratIDFilter"
                                                             update="contratTable:contratIDFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.contratID}"/>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_agence}"  sortBy="#{contrat.agence}" filterBy="#{contrat.agence}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu  id="agenceFilter"
                                                          style="width:auto;"
                                                          onchange="PF('contratTable').filter(); return false;">
                                            <f:selectItem noSelectionOption="true" itemLabel="" />
                                            <f:selectItems itemLabel="#{agence.agenceID}"
                                                           value="#{contratBean.agences}"
                                                           var="agence"
                                                           itemValue="#{agence}" />
                                            <o:converter converterId="omnifaces.SelectItemsConverter" list="#{contratBean.agences}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{contrat.agence.agenceID}" />
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_date}"  sortBy="#{contrat.date}" filterBy="#{contrat.date}">
                                    <f:facet name="filter">
                                        <p:calendar id="dateFilter" style="width:auto;" locale="en" pattern="dd/MM/yyyy"
                                                     onkeyup="if (event.keyCode == 13) {PF('contratTable').filter(); updateDateFilter(); return false;}" >
                                            <p:remoteCommand name="updateDateFilter" update="contratTable:dateFilter" />
                                            <f:convertDateTime  />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{contrat.date}"><f:convertDateTime locale="en" pattern="dd/MM/yyyy"  /></h:outputText>
                                </p:column>

                                <p:column headerText="#{messages.field_label_contrat_dateEcheance1}" sortBy="#{contrat.dateEcheance1}"  filterBy="#{contrat.dateEcheance1}">
                                    <f:facet name="filter">
                                        <p:calendar id="dateEcheance1Filter" style="width: auto"
                                                     onkeyup="if (event.keyCode == 13) {PF('contratTable').filter(); updateDateEcheance1Filter(); return false;}" >
                                            <p:remoteCommand name="updateDateEcheance1Filter" update="contratTable:dateEcheance1Filter" />
                                            <f:convertDateTime  />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{contrat.dateEcheance1}"><f:convertDateTime locale="en" pattern="dd/MM/yyyy" /></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_dateEcheance2}" sortBy="#{contrat.dateEcheance2}" filterBy="#{contrat.dateEcheance2}" >
                                    <h:outputText value="#{contrat.dateEcheance2}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_dateEcheance3}" sortBy="#{contrat.dateEcheance3}" filterBy="#{contrat.dateEcheance2}" >
                                    <h:outputText value="#{contrat.dateEcheance3}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>
                                <p:column headerText="#{messages.field_label_contrat_telephone}" filterBy="#{contrat.telephone}"
                                          sortBy="#{contrat.telephone}" >
                                    <f:facet name="filter">
                                        <p:inputText id="telephoneFilter" style="width:auto;"
                                                     onkeypress="if (event.keyCode == 13) {PF('contratTable').filter(); updateTelephoneFilter(); return false; }" >
                                            <p:remoteCommand name="updateTelephoneFilter" update="contratTable:telephoneFilter" />
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{contrat.telephone}"/>
                                </p:column>
                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          exportable="false">
                                    <p:commandButton   update=":viewContratDialog" value="Voir" style="background-color: #17A2B4"
                                                     oncomplete="PF('viewContratDialogWidget').show()"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>

                                    <p:commandButton  update=":editContratDialog"
                                                     resetValues="true" value="Edit" style="background-color: #28a745"
                                                     rendered="#{contratBean.isPermitted(contrat, 'contrat:update')}"
                                                     action="#{contratBean.onDialogOpen(contrat)}"
                                                     oncomplete="PF('editContratDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton  ajax="false" immediate="true" value="Impri"
                                                     title="Imprimer le contrat" onclick="PrimeFaces.monitorDownload(start, stop);"
                                                     actionListener="#{contratBean.printContract(contrat)}"/>

                                    <p:commandButton  update=":contratAttachmentsDialog"
                                                     resetValues="true" value="Joints"
                                                     oncomplete="PF('contratAttachmentsDialogWidget').show()"
                                                     title="#{messages.label_attachments}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>
                                    <p:commandButton action="#{'/pages/retrait/retraitContrat?faces-redirect=true&amp;id='.concat(contrat.id)}"
                                              value="Retraits" style="background-color: #17A2B4">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{statBean.contrat}"/>
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white"
                                                     rendered="#{contratBean.isPermitted(contrat, 'contrat:delete')}"
                                                     oncomplete="PF('deleteContratDialogWidget').show()"
                                                     title="#{messages.label_delete}">
                                        <f:setPropertyActionListener value="#{contrat}"
                                                                     target="#{contratBean.contrat}"/>
                                    </p:commandButton>

                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton value="#{messages.create_new_contrat}" icon="ui-icon-plusthick"
                                                     action="#{contratBean.prepareNewContrat()}"
                                                     resetValues="true" update=":editContratDialog"
                                                     oncomplete="PF('editContratDialogWidget').show()"
                                                     rendered="#{contratBean.isPermitted('contrat:create') and p:ifGranted('Agent')}"
                                                     style="float:right"/>
                                    <p:spacer height="30px"/>
                                </f:facet>

                            </p:dataTable>

<!--                            <h:panelGrid columns="2">-->
<!--                                <p:panel header="#{messages.export_all_data}">-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>-->
<!--                                        <p:dataExporter type="xls" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>-->
<!--                                        <p:dataExporter type="pdf" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/csv.png" alt="CSV"/>-->
<!--                                        <p:dataExporter type="csv" target="contratTable" fileName="Contrats"/>-->
<!--                                    </h:commandLink>-->

<!--                                </p:panel>-->

<!--                                <p:panel header="#{messages.export_page_data}">-->
<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>-->
<!--                                        <p:dataExporter type="xls" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>-->
<!--                                        <p:dataExporter type="pdf" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                    <h:commandLink>-->
<!--                                        <h:graphicImage name="images/csv.png" alt="CSV"/>-->
<!--                                        <p:dataExporter type="csv" target="contratTable" fileName="Contrats"-->
<!--                                                        pageOnly="true"/>-->
<!--                                    </h:commandLink>-->

<!--                                </p:panel>-->
<!--                            </h:panelGrid>-->

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <p:confirmDialog id="deleteContratDialog" widgetVar="deleteContratDialogWidget"
                         rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{contratBean.delete}"
                                         update=":contratDataForm :growlForm:growl"
                                         oncomplete="PF('deleteContratDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteContratDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editContratDialog" header="#{messages.label_contrat_caption}" resizable="true" responsive="true"
                  width="700px"
                  modal="true" widgetVar="editContratDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <h:form id="editContratForm">
                <p:outputPanel id="contratEditPanel">
                    <ui:include src="/pages/contrat/contratEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{contratBean.persist}"
                                         update=":editContratForm:contratEditPanel :contratDataForm :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editContratDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red; color: white"
                                         onclick="PF('editContratDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewContratDialog" header="#{messages.label_contrat_caption}" modal="true"
                  widgetVar="viewContratDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <h:form id="viewContratForm">
                <ui:include src="/pages/contrat/contratViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                     onclick="PF('viewContratDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="contratAttachmentsDialog" header="#{messages.label_attachments}" modal="true"
                  widgetVar="contratAttachmentsDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <p:outputPanel id="contratAttachmentsPanel">
                <ui:include src="/pages/contrat/contratAttachmentsInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <h:form>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red; color: white"
                                         onclick="PF('contratAttachmentsDialogWidget').hide()" type="button"/>
                    </h:form>
                </div>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgenceFromEditDialog"
                  rendered="#{contratBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_contrat_create_agence}" modal="true"
                  widgetVar="createAgenceFromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgencePanel">
                <h:form id="createAgenceForm">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideContratSelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{contratBean.updateAgence(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editContratForm:agenceSelectInput :createAgencePanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgenceFromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close" style="background-color: red;color: white"
                                         onclick="PF('createAgenceFromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgence2FromEditDialog"
                  rendered="#{contratBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_contrat_create_agence2}" modal="true"
                  widgetVar="createAgence2FromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgence2Panel">
                <h:form id="createAgence2Form">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideContrat2SelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{contratBean.updateAgence2(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editContratForm:agence2SelectInput :createAgence2Panel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgence2FromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close" style="background-color: red;color: white"
                                         onclick="PF('createAgence2FromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>
