<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not agenceBean.isPermitted(agenceBean.agence, 'agence:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{agenceBean.isPermitted(agenceBean.agence, 'agence:read')}">
        
        <h:outputText value="#{messages.field_label_agence_nom}:" />
        <h:outputText value="#{agenceBean.agence.nom}" />

        <h:outputText value="#{messages.field_label_agence_idNat}:" />
        <h:outputText value="#{agenceBean.agence.idNat}" />

        <h:outputText value="#{messages.field_label_agence_rcCM}:" />
        <h:outputText value="#{agenceBean.agence.rcCM}" />

        <h:outputText value="#{messages.field_label_agence_telephone}:" />
        <h:outputText value="#{agenceBean.agence.telephone}" />

        <h:outputText value="#{messages.field_label_agence_email}:" />
        <h:outputText value="#{agenceBean.agence.email}" />

        <h:outputText value="#{messages.field_label_agence_adresse}:" />
        <h:outputText value="#{agenceBean.agence.adresse}" />

        <h:outputText value="#{messages.field_label_agence_agenceID}:" />
        <h:outputText value="#{agenceBean.agence.agenceID}" />

        <h:outputText value="#{messages.field_label_agence_statut}:" />
        <h:outputText value="#{agenceBean.getLabelForStatut(agenceBean.agence.statut)}" />

    </h:panelGrid>
</html>