<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="agenceDataForm"
                                onkeypress="if (event.keyCode == 13) {return false; }">

                            <p:dataTable id="agenceTable"
                                         class="no-border table table-hover table-striped table-sm table-responsive table-bg"
                                         value="#{agenceBean.agenceList}" var="agence"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                                         paginatorPosition="bottom" widgetVar="agenceTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">
                                    Agences
                                </f:facet>

                                <p:column headerText="#{messages.field_label_agence_nom}" sortBy="#{agence.nom}" width="30"
                                          >

                                    <h:outputText value="#{agence.nom}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_idNat}" width="30" sortBy="#{agence.idNat}"
                                          >

                                    <h:outputText value="#{agence.idNat}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_rcCM}" width="30" sortBy="#{agence.rcCM}"
                                          >

                                    <h:outputText value="#{agence.rcCM}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_telephone}" width="30"
                                          sortBy="#{agence.telephone}" >

                                    <h:outputText value="#{agence.telephone}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_email}" sortBy="#{agence.email}" width="50"
                                          >

                                    <h:outputText value="#{agence.email}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_adresse}" width="30" sortBy="#{agence.adresse}"
                                          >

                                    <h:outputText value="#{agence.adresse}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_agenceID}" width="30"
                                          sortBy="#{agence.agenceID}" >

                                    <h:outputText value="#{agence.agenceID}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_agence_statut}" width="30"
                                          sortBy="#{agence.statut}" >

                                    <h:outputText value="#{agenceBean.getLabelForStatut(agence.statut)}"/>
                                </p:column>

                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          width="60" exportable="false">

                                    <p:commandButton icon="ui-icon-zoomin" update=":viewAgenceDialog"
                                                     oncomplete="PF('viewAgenceDialogWidget').show()" value="Voir" style="background-color: #17A2B4"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{agence}" target="#{agenceBean.agence}"/>
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-pencil" update=":editAgenceDialog"
                                                     resetValues="true" value="Editer" style="background-color: #28a745"
                                                     rendered="#{agenceBean.isPermitted(agence, 'agence:update')}"
                                                     action="#{agenceBean.onDialogOpen(agence)}"
                                                     oncomplete="PF('editAgenceDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white" value="Effacer"
                                                     rendered="#{agenceBean.isPermitted(agence, 'agence:delete')}"
                                                     oncomplete="PF('deleteAgenceDialogWidget').show()"
                                                     title="#{messages.label_delete}">
                                        <f:setPropertyActionListener value="#{agence}"
                                                                     target="#{agenceBean.agence}"/>
                                    </p:commandButton>

                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton value="#{messages.create_new_agence}" icon="ui-icon-plusthick"
                                                     action="#{agenceBean.prepareNewAgence()}"
                                                     resetValues="true" update=":editAgenceDialog"
                                                     oncomplete="PF('editAgenceDialogWidget').show()"
                                                     rendered="#{agenceBean.isPermitted('agence:create')}"
                                                     style="float:right"/>
                                    <p:spacer height="30px"/>

                                </f:facet>

                            </p:dataTable>

                        </h:form>
                    </div>
                </div>
            </div>
        </div>

        <p:confirmDialog id="deleteAgenceDialog" widgetVar="deleteAgenceDialogWidget"
                         rendered="#{agenceBean.isPermitted(agenceBean.agence, 'agence:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{agenceBean.delete}"
                                         update=":agenceDataForm :growlForm:growl"
                                         oncomplete="PF('deleteAgenceDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteAgenceDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editAgenceDialog" header="#{messages.label_agence_caption}"
                 width="400px" modal="true" widgetVar="editAgenceDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <h:form id="editAgenceForm">
                <p:outputPanel id="agenceEditPanel">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{agenceBean.persist}"
                                         update=":editAgenceForm:agenceEditPanel :agenceDataForm :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editAgenceDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                         onclick="PF('editAgenceDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewAgenceDialog" header="#{messages.label_agence_caption}" modal="true"
                  widgetVar="viewAgenceDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <h:form id="viewAgenceForm">
                <ui:include src="/pages/agence/agenceViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                     onclick="PF('viewAgenceDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>