<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:remove>
    <p:outputPanel styleClass="ui-fluid">

        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid"
                     style="max-width:400px">
            <h:outputLabel value="#{messages.field_label_mouvement_motif}:" for="motifEditInput"/>
            <p:inputTextarea cols="50" rows="2" value="#{mouvementBean.mouvement.motif}" id="motifEditInput"
                             label="#{messages.field_label_mouvement_motif}"/>
            <p:message for="motifEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_mouvement_type}:" for="typeSelect"/>
            <p:selectOneMenu value="#{mouvementBean.mouvement.type}" converter="omnifaces.GenericEnumConverter"
                             id="typeSelect">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{mouvementBean.typeSelectItems}"/>
            </p:selectOneMenu>
            <p:message for="typeSelect" display="text"/>

            <h:outputLabel value="#{messages.field_label_mouvement_user}:" for="userSelectInput"
                           rendered="#{not hideUserSelectInput}"/>
            <h:panelGroup rendered="#{not hideUserSelectInput}">
                <!--                    <p:autoComplete id="userSelectInput" value="#{userQuery}" var="username" itemLabel="#{username}"-->
                <!--                                    itemValue="#{username}" requiredMessage="Ce champ ne peut être vide" placeholder="Nom"-->
                <!--                                    completeMethod="#{mouvementBean.completeUser}" scrollHeight="400">-->
                <!--                        <p:ajax event="itemSelect" listener="#{mouvementBean.onUserSelect}"-->
                <!--                                immediate="true"/>-->
                <!--                    </p:autoComplete>-->

                <p:selectOneMenu value="#{mouvementBean.mouvement.user}"
                                 id="userSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel=""/>
                    <f:selectItems value="#{mouvementBean.users}"
                                   var="user"
                                   itemLabel="#{user.username}"
                                   itemValue="#{user}"/>
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{mouvementBean.users}"/>
                </p:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{not hideUserSelectInput}">

                <p:message for="userSelectInput" display="text" rendered="#{not hideUserSelectInput}"/>
            </h:panelGroup>

        </p:panelGrid>

    </p:outputPanel>
</ui:remove>

<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_mouvement_type}:" for="typeSelect"/>
        <h:selectOneMenu value="#{mouvementBean.mouvement.type}" converter="omnifaces.GenericEnumConverter"
                         styleClass="form-control form-control-border" id="typeSelect">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{mouvementBean.typeSelectItems}"/>
        </h:selectOneMenu>
        <p:message for="typeSelect" display="text"/>
    </div>

    <div class="ui-g-12 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_mouvement_user}:" for="userSelectInput"/>
        <h:selectOneMenu value="#{mouvementBean.mouvement.user}" styleClass="form-control form-control-border"
                         id="userSelectInput">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{mouvementBean.users}"
                           var="user"
                           itemLabel="#{user.username}"
                           itemValue="#{user}"/>
            <o:converter converterId="omnifaces.SelectItemsConverter" list="#{mouvementBean.users}"/>
        </h:selectOneMenu>
        <p:message for="userSelectInput" display="text" rendered="#{not hideUserSelectInput}"/>
    </div>
    <div class="ui-g-12 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_mouvement_visiteur}:" for="visiteurEditInput"/>
        <h:inputText value="#{mouvementBean.mouvement.visiteur}" id="visiteurEditInput" class="form-control form-control-border"
                         label="#{messages.field_label_mouvement_visiteur}"/>
        <p:message for="visiteurEditInput" display="text"/>
    </div>
    <div class="ui-g-12 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_mouvement_motif}:" for="motifEditInput"/>
        <h:inputTextarea cols="50" rows="2" value="#{mouvementBean.mouvement.motif}" id="motifEditInput" styleClass="form-control form-control-border"
                         label="#{messages.field_label_mouvement_motif}"/>
        <p:message for="motifEditInput" display="text"/>
    </div>
</div>


</html>
