<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not mouvementBean.isPermitted(mouvementBean.mouvement, 'mouvement:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{mouvementBean.isPermitted(mouvementBean.mouvement, 'mouvement:read')}">
        
        <h:outputText value="#{messages.field_label_mouvement_date}:" />
        <h:outputText value="#{mouvementBean.mouvement.date}" ><f:convertDateTime pattern="dd/MM/yyyy HH:mm" /></h:outputText>

        <h:outputText value="#{messages.field_label_mouvement_motif}:" />
        <h:outputText value="#{mouvementBean.mouvement.motif}" />

        <h:outputText value="#{messages.field_label_mouvement_type}:" />
        <h:outputText value="#{mouvementBean.getLabelForType(mouvementBean.mouvement.type)}" />

        <h:outputText value="#{messages.field_label_mouvement_user}:" />
        <h:outputText value="#{mouvementBean.mouvement.user.username}" />

        <h:outputText value="#{messages.field_label_mouvement_visiteur}:" />
        <h:outputText value="#{mouvementBean.mouvement.visiteur}" />
    </h:panelGrid>
</html>