body {
    .ui-panel {
        padding: 0;
        border: 0 none;
        
        .ui-panel-titlebar {
            border: 1px solid $headerBorderColor;
            border-bottom: 1px solid $headerBorderColor;
            padding: $headerPadding;
            @include border-radius-top($borderRadius);
            @include border-radius-bottom(0px);
            
            .ui-panel-title {
                line-height: 21px;
                margin: 0;
                font-size: 16px;
            }
            
            .ui-panel-titlebar-icon {
                top: 2px;
                position: relative;
                color: $headerIconColor;
                margin: 0 0 0 4px;
                @include transition(color .3s);
                
                &.ui-state-hover {
                    color:  $headerIconHoverColor;
                }
                
                .ui-icon-minusthick {
                    @include icon_override("\f056");
                }
                
                .ui-icon-plusthick {
                    @include icon_override("\f055");
                }
            }
        }
        
        .ui-panel-content {
            border: 1px solid $panelContentBorderColor;
            border-top: 0 none;
            @include box-sizing(border-box);
            padding: $contentPadding;
        }
        
        .ui-panel-footer {
            padding: $headerPadding;
            border: 1px solid $contentBorderColor;
            border-top: 0 none;
            margin: 0;
        }
        
        &.ui-panel-collapsed-h {
            .ui-panel-titlebar {
                padding-left: 40px;
            }
        }
    }
    
    .ui-fieldset {         
        padding: 0 0 6px 0;
               
        .ui-fieldset-legend {
            color: $headerTextColor;
            background-color: $headerBgColor;
            margin-left: 10px;
            border: 1px solid $headerBorderColor;
            @include transition(background-color .3s);
            
            .ui-fieldset-toggler {
                float: none;
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
                height: $fontSize;
                margin-top: 0;
                padding: 0;
            }
            
            &.ui-state-hover {
                background-color: $headerHoverBgColor;
                border-color: $headerHoverBorderColor;
            }
            
            &.ui-state-focus {
                background-color: $headerHoverBgColor;
                border-color: $headerHoverBorderColor;
            }
        }
        
        .ui-fieldset-content {
            padding: $contentPadding;
        }
    }
    
    .ui-notificationbar {
        background-color: $primaryColor;
        color: #ffffff;
    }
    
    .ui-accordion {
        .ui-accordion-header {
            background-color: $headerBgColor;
            padding: $headerPadding;
            padding-left: 30px;
            color: $textColor;
            font-size: $fontSize;
            border: 1px solid $headerBorderColor;
            margin-bottom: 0;
            font-weight: bold;
            margin-top: 5px;
            font-size: $fontSize + 2px;
            
            &.ui-state-hover {
                border-color:$headerHoverBorderColor;
                background-color: $headerHoverBgColor;
            }
                        
            .ui-icon {
                left: 10px;
                color: $textColor;
                width: 18px;
                
                &.ui-icon-triangle-1-e {
                    margin-top: -7px;
                    @include icon_override("\f054");
                }
                
                &.ui-icon-triangle-1-s {
                    margin-top: -9px;
                    @include icon_override("\f078");
                }
            }

            &.ui-tabs-outline {
                outline: 0 none;
                border-color:$headerHoverBorderColor;
                background-color: $headerHoverBgColor;
            }
        }
        
        .ui-accordion-content {
            padding: $contentPadding;
        }
    }
    
    .ui-tabs {
        padding: 0;
        
        &.ui-tabs-top,&.ui-tabs-bottom,&.ui-tabs-left,&.ui-tabs-right {
            border: 0 none;
            background: transparent;
            
            .ui-tabs-nav {
                padding: 0;
                border: 0 none;
                background: #ffffff;
                @include border-radius(0);
                
                li {
                    position: static;
                    @include border-radius(0);
                    margin: 0;
                    box-sizing: border-box;
                    background: #ffffff;
                    border: 1px solid transparent;
                    
                    a {
                        padding: $headerPadding;
                        color: $primaryColor;
                        font-weight: normal;
                        
                        &:focus {
                            outline: 0 none;
                        }
                    }
                    
                    &.ui-state-hover {
                        background-color: $headerBgColor;
                    }
                    
                    &.ui-tabs-outline {
                        outline: 0 none;
                        background-color: $headerBgColor;
                    }
                    
                    &.ui-state-active {
                        border: 1px solid $headerBorderColor;
                        background-color: #ffffff;
                    }
                    
                    .ui-icon-close {
                        color: $primaryColor;
                        margin-top: 14px;
                    }
                }
            }
            
            .ui-tabs-panel {
                background-color: $contentBgColor;
            }
            
            .ui-tabs-navscroller-btn {
                background-color: $headerBgColor;
                border: 1px solid $headerBorderColor;
                @include border-radius(0);
                height: 40px;
                
                &.ui-state-hover {
                    background-color: $headerHoverBgColor;
                }
                
                &.ui-tabs-navscroller-btn-left {
                    left: 0;
                }
                
                &.ui-tabs-navscroller-btn-right {
                    right: 0;
                }
                
                .ui-icon {
                    margin-top: 12px;
                }
            }
        }
        
        &.ui-tabs-top {
            .ui-tabs-nav {
                li {
                    margin-right: 2px;
                    border-bottom: 1px solid $headerBorderColor;
                    @include border-radius-top($borderRadius);
                    @include border-radius-bottom(0);
                    
                    &.ui-state-active {
                        border-bottom-color: transparent;    
                    }
                }
            }
            
            .ui-tabs-panels {
                border-top: 1px solid $contentBorderColor;
                margin-top: -1px;
            }
        }
        
        &.ui-tabs-left,&.ui-tabs-right {
            .ui-tabs-nav {
                width: 25%;
                
                li {
                    width: 100%;
                }
            }  
        }
        
        &.ui-tabs-left {
            .ui-tabs-nav {
                height: auto;
                min-height: 300px;
                position: relative;
                z-index: 2;
                
                li {
                    border-right: 1px solid $headerBorderColor;
                    @include border-radius-left($borderRadius);
                    @include border-radius-right(0);
                    
                    &.ui-state-active {
                        border-right-color: transparent;    
                    }
                }
            }
                        
            .ui-tabs-panels {
                min-height: 300px;
                background-color: $contentBgColor;
                position: relative;
                left: -1px;
                z-index: 1;
                border-left: 1px solid $contentBorderColor;
            }
        }
        
        &.ui-tabs-right {
            .ui-tabs-nav {
                height: auto;
                min-height: 300px;

                li {
                    margin-bottom: 2px;
                    border-left: 1px solid $headerBorderColor;
                    @include border-radius-right($borderRadius);
                    @include border-radius-left(0);
                    
                    &.ui-state-active {
                        border-left-color: transparent;    
                    }
                }
            }
                        
            .ui-tabs-panels {
                min-height: 300px;
                background-color: $contentBgColor;
                position: relative;
                right: -1px;
                border-right: 1px solid $contentBorderColor;
            }
        }
        
        &.ui-tabs-bottom {
            .ui-tabs-nav {
                li {
                    margin-right: 2px;
                    border-top-color: transparent;    
                    @include border-radius-bottom($borderRadius);
                    @include border-radius-top(0);
                    
                    &.ui-state-active {
                        border-top-color: #ffffff;    
                    }
                }
            }
            
            .ui-tabs-panels {
                border-bottom: 1px solid $contentBorderColor;
                margin-bottom: 1px;
            }  
        }
        
        .ui-tabs-panel {
            padding: $contentPadding;
        }
    }
    
    .ui-scrollpanel {
        .ui-scrollpanel-drag {
            background-color: #e3e3e3;
        }
        
        .ui-scrollpanel-track {
            background-color: #f7f7f7;
            border: 0 none;
        }
        
        .ui-scrollpanel-corner {
            background-color: #f7f7f7;
        }
    }
    
    .ui-toolbar {
        background-color: $headerBgColor;
        border-color: $headerBorderColor;
        padding: $headerPadding;

        .ui-separator {
            margin-right: 4px;
        }

        .ui-button {
            margin-right: 4px;
        }
    }
    
    .ui-tooltip {
        .ui-tooltip-arrow {
            color: #2d353c;
        }
        
        .ui-tooltip-text {
            background-color: #2d353c;
        }
    }
    
    .ui-wizard {
        .ui-wizard-step-titles {
            .ui-wizard-step-title {
                background-color: $headerBgColor;
                border: 1px solid $headerBorderColor;
                border-right: 0 none;
                margin: 0;
                padding: $headerPadding;
                @include border-radius(0);
                                
                &:first-child {
                    @include border-radius-left($borderRadius);
                }
                
                &:last-child {
                    @include border-radius-right($borderRadius);
                    border-right: 1px solid $headerBorderColor;
                }
                
                &.ui-state-highlight {
                    border-color: $primaryColor;
                    background-color: $primaryColor;
                    color: #ffffff;
                }
            }
        }
    }   
    
    .ui-panelgrid {
        .ui-panelgrid-cell.ui-widget-header {
            border: 1px solid $headerBorderColor;
        }
        
        .ui-panelgrid-cell {
            padding: $datatableCellPadding;
        }
    } 
}

@media (max-width: 640px) {
    body {
        .ui-panelgrid {
            .ui-grid-responsive {
                .ui-grid-row {
                    border: 0 none;
                }
            }
        }
    }
}