<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Sales
                        </h3>
                        <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                            </ul>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content p-0">
                            <div class="chart tab-pane active" id="revenue-chart"
                                 style="position: relative; height: 300px;">
                                <!--                                style="position: relative; height: 300px;"-->
                                <!--                                width="400" height="400"-->
                                <canvas responsive="true" id="myChart" width="400" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <h:outputScript target="body">
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: [
            'Janvier',
            'Fevrier',
            'Mars',
            'Avril',
            'Mai',
            'Juin',
            'Juillet',
            'Août',
            'Septembre',
            'Octobre',
            'Novembre',
            'Decembre'
            ],
            datasets: [
            {
            label: 'Entrées',
            data: ['#{contratBean.sumContratsByMonth(0)}','#{contratBean.sumContratsByMonth(1)}','#{contratBean.sumContratsByMonth(2)}','#{contratBean.sumContratsByMonth(3)}','#{contratBean.sumContratsByMonth(4)}','#{contratBean.sumContratsByMonth(5)}','#{contratBean.sumContratsByMonth(6)}','#{contratBean.sumContratsByMonth(7)}','#{contratBean.sumContratsByMonth(8)}','#{contratBean.sumContratsByMonth(9)}','#{contratBean.sumContratsByMonth(10)}','#{contratBean.sumContratsByMonth(11)}'],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            },

            {
            label: 'Sorties',
            data: ['#{retraitBean.sumRetraitsByMonth(0)}','#{retraitBean.sumRetraitsByMonth(1)}','#{retraitBean.sumRetraitsByMonth(2)}','#{retraitBean.sumRetraitsByMonth(3)}','#{retraitBean.sumRetraitsByMonth(4)}','#{retraitBean.sumRetraitsByMonth(5)}','#{retraitBean.sumRetraitsByMonth(6)}','#{retraitBean.sumRetraitsByMonth(7)}','#{retraitBean.sumRetraitsByMonth(8)}','#{retraitBean.sumRetraitsByMonth(9)}','#{retraitBean.sumRetraitsByMonth(10)}','#{retraitBean.sumRetraitsByMonth(11)}'],
            backgroundColor: [
            'rgba(60, 179, 113, 0.2)'
            ],
            borderColor: [
            'rgba(60, 179, 113, 0.2)'
            ],
            borderWidth: 1
            }


            ]
            },
            options: {
            animations: {
            tension: {
            duration: 5000,
            easing: 'linear',
            // from: 1,
            // to: 0,
            loop: true
            }
            },
            scales: {
            y: {
            beginAtZero: true
            }
            }
            }
            });

        </h:outputScript>
    </ui:define>

</ui:composition>

</html>