<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/template.xhtml">
  <ui:define name="content">
    <p:panel id="mainPanel">
      <h:outputText id="welcomeText" value="#{messages.label_welcome_text}" />
    </p:panel>
  </ui:define>
</ui:composition>
</html>