<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<o:validateEqual components="emailEditInput emailRepeatEditInput"
                 showMessageFor="emailRepeatEditInput" message="#{messages.user_email_different_input}"/>
<ui:remove>
    <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputLabel value="#{messages.field_label_user_username}:" for="usernameEditInput"/>
        <p:inputText value="#{userBean.user.username}" id="usernameEditInput"/>
        <p:message for="usernameEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_password}:" for="passwordEditInput"/>
        <p:password value="#{userBean.user.password}" id="passwordEditInput" required="true"
                    match="passwordRepeatEditInput"/>
        <p:message for="passwordEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_password_repeat}:" for="passwordRepeatEditInput"/>
        <p:password value="#{userBean.user.password}" id="passwordRepeatEditInput" required="true"/>
        <p:message for="passwordRepeatEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_email}:" for="emailEditInput"/>
        <p:inputText value="#{userBean.user.email}" id="emailEditInput" required="true"/>
        <p:message for="passwordEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_email_repeat}:" for="emailRepeatEditInput"/>
        <p:inputText value="#{userBean.user.email}" id="emailRepeatEditInput" required="true"/>
        <p:message for="emailRepeatEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_roles}:" for="userRoles"/>
        <h:selectManyCheckbox value="#{userBean.user.roles}" converter="omnifaces.GenericEnumConverter"
                              id="userRolesSelection" collectionType="java.util.ArrayList">
            <f:selectItems value="#{userBean.rolesSelectItems}"/>
        </h:selectManyCheckbox>
        <p:message for="userRolesSelection" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_status}:" for="selectUserStatusInput"/>
        <p:selectOneMenu value="#{userBean.user.status}" converter="omnifaces.GenericEnumConverter"
                         id="selectUserStatusInput" required="true">
            <f:selectItems value="#{userBean.statusSelectItems}"/>
        </p:selectOneMenu>
        <p:message for="selectUserStatusInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_details}:" for="detailsSelectInput"
                       rendered="#{not hideDetailsSelectInput}"/>
        <h:panelGroup rendered="#{not hideDetailsSelectInput}">
            <p:selectOneMenu value="#{userBean.user.details}"
                             id="detailsSelectInput">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{userBean.availableDetails}"
                               var="userDetails"
                               itemLabel="#{userDetails.id}"
                               itemValue="#{userDetails}"/>
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.availableDetails}"/>
            </p:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup rendered="#{not hideDetailsSelectInput}">

            <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                             action="#{userDetailsBean.prepareNewUserDetails()}"
                             update=":createDetailsFromCreateDialog"
                             resetValues="true"
                             oncomplete="PF('createDetailsFromCreateDialogWidget').show()"
                             rendered="#{applicationBean.componentExists('createDetailsFromCreateDialog') and userBean.isPermitted('userDetails:create')}"
                             style="vertical-align:top;" partialSubmit="true" process="@this">
            </p:commandButton>

            <p:message for="detailsSelectInput" display="text" rendered="#{not hideDetailsSelectInput}"/>
        </h:panelGroup>

        <h:outputLabel value="#{messages.field_label_user_telephone}:" for="telephoneEditInput"/>
        <p:inputText value="#{userBean.user.telephone}" id="telephoneEditInput"
                     label="#{messages.field_label_user_telephone}"/>
        <p:message for="telephoneEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput"/>
        <p:inputText value="#{userBean.user.adresse}" id="adresseEditInput"
                     label="#{messages.field_label_user_adresse}"/>
        <p:message for="adresseEditInput" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_genre}:" for="genreSelect"/>
        <p:selectOneMenu value="#{userBean.user.genre}" converter="omnifaces.GenericEnumConverter" id="genreSelect">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{userBean.genreSelectItems}"/>
        </p:selectOneMenu>
        <p:message for="genreSelect" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_statutMarital}:" for="statutMaritalSelect"/>
        <p:selectOneMenu value="#{userBean.user.statutMarital}" converter="omnifaces.GenericEnumConverter"
                         id="statutMaritalSelect">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{userBean.statutMaritalSelectItems}"/>
        </p:selectOneMenu>
        <p:message for="statutMaritalSelect" display="text"/>

        <h:outputLabel value="#{messages.field_label_user_agence}:" for="agenceSelectInput"
                       rendered="#{not hideAgenceSelectInput}"/>
        <h:panelGroup rendered="#{not hideAgenceSelectInput}">
            <p:selectOneMenu value="#{userBean.user.agence}"
                             id="agenceSelectInput">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{userBean.agences}"
                               var="agence"
                               itemLabel="#{agence.agenceID}"
                               itemValue="#{agence}"/>
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.agences}"/>
            </p:selectOneMenu>
        </h:panelGroup>
        <h:panelGroup rendered="#{not hideAgenceSelectInput}">

            <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                             action="#{agenceBean.prepareNewAgence()}"
                             update=":createAgenceFromCreateDialog"
                             resetValues="true"
                             oncomplete="PF('createAgenceFromCreateDialogWidget').show()"
                             rendered="#{applicationBean.componentExists('createAgenceFromCreateDialog') and userBean.isPermitted('agence:create')}"
                             style="vertical-align:top;" partialSubmit="true" process="@this">
            </p:commandButton>

            <p:message for="agenceSelectInput" display="text" rendered="#{not hideAgenceSelectInput}"/>
        </h:panelGroup>

    </h:panelGrid>
</ui:remove>
<div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_username}:" for="usernameEditInput"/>
        <h:inputText value="#{userBean.user.username}"
                     class="form-control form-control-sm form-control-border" id="usernameEditInput"/>
        <p:message for="usernameEditInput" display="text"/>

    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_password}:" for="passwordEditInput"/>
        <h:inputSecret value="#{userBean.user.password}"
                       class="form-control form-control-sm form-control-border"
                       id="passwordEditInput" required="true"
                       match="passwordRepeatEditInput"/>
        <p:message for="passwordEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_password_repeat}:" for="passwordRepeatEditInput"/>
        <h:inputSecret class="form-control form-control-sm form-control-border" value="#{userBean.user.password}"
                       id="passwordRepeatEditInput" required="true"/>
        <p:message for="passwordRepeatEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_email}:" for="emailEditInput"/>
        <h:inputText class="form-control form-control-sm form-control-border" value="#{userBean.user.email}"
                     id="emailEditInput" required="true"/>
        <p:message for="emailEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_email_repeat}:" for="emailRepeatEditInput"/>
        <h:inputText class="form-control form-control-sm form-control-border" value="#{userBean.user.email}"
                     id="emailRepeatEditInput" required="true"/>
        <p:message for="emailRepeatEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_roles}:" for="userRolesSelection"/>
        <p:selectCheckboxMenu value="#{userBean.user.roles}" converter="omnifaces.GenericEnumConverter"
                              id="userRolesSelection" label="Select Roles"
                              class="form-control form-control-sm form-control-border"
                              layout="grid" columns="1">
            <f:selectItem noSelectionOption="true" itemLabel="Select Roles" itemDisabled="true"/>
            <f:selectItems value="#{userBean.rolesSelectItems}"/>
        </p:selectCheckboxMenu>
        <p:message for="userRolesSelection" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_status}:" for="selectUserStatusInput"/>
        <h:selectOneMenu value="#{userBean.user.status}" converter="omnifaces.GenericEnumConverter"
                         class="form-control form-control-sm form-control-border"
                         id="selectUserStatusInput" required="true">
            <f:selectItems value="#{userBean.statusSelectItems}"/>
        </h:selectOneMenu>
        <p:message for="selectUserStatusInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_telephone}:" for="telephoneEditInput"/>
        <h:inputText value="#{userBean.user.telephone}" id="telephoneEditInput"
                     class="form-control form-control-sm form-control-border"
                     label="#{messages.field_label_user_telephone}"/>
        <p:message for="telephoneEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput"/>
        <h:inputText value="#{userBean.user.adresse}" id="adresseEditInput"
                     class="form-control form-control-sm form-control-border"
                     label="#{messages.field_label_user_adresse}"/>
        <p:message for="adresseEditInput" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_genre}:" for="genreSelect"/>
        <h:selectOneMenu value="#{userBean.user.genre}"
                         class="form-control form-control-sm form-control-border"
                         converter="omnifaces.GenericEnumConverter" id="genreSelect">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{userBean.genreSelectItems}"/>
        </h:selectOneMenu>
        <p:message for="genreSelect" display="text"/>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_statutMarital}:" for="statutMaritalSelect"/>
        <h:selectOneMenu value="#{userBean.user.statutMarital}" converter="omnifaces.GenericEnumConverter"
                         class="form-control form-control-sm form-control-border"
                         id="statutMaritalSelect">
            <f:selectItem noSelectionOption="true" itemLabel=""/>
            <f:selectItems value="#{userBean.statutMaritalSelectItems}"/>
        </h:selectOneMenu>
        <p:message for="statutMaritalSelect" display="text"/>

    </div>
    <div class="ui-g-6 ui-sm-12">
        <h:outputLabel value="#{messages.field_label_user_agence}:" for="agenceSelectInput"
                       rendered="#{not hideAgenceSelectInput}"/>
        <h:panelGroup rendered="#{not hideAgenceSelectInput}">
            <h:selectOneMenu value="#{userBean.user.agence}"
                             class="form-control form-control-sm form-control-border"
                             id="agenceSelectInput">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{userBean.agences}"
                               var="agence"
                               itemLabel="#{agence.agenceID}"
                               itemValue="#{agence}"/>
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.agences}"/>
            </h:selectOneMenu>
        </h:panelGroup>
        <p:message for="agenceSelectInput" display="text" rendered="#{not hideAgenceSelectInput}"/>

    </div>
    <div class="ui-g-6 ui-sm-12">

    </div>
    <div class="ui-g-6 ui-sm-12">

    </div>

</div>
</html>