.help-wrapper{
    background-color: #eef2f6;
    .help-header{
        padding: 0;
        height: 30vh;
        position: relative;
        margin: 0 7px;
        margin-bottom: 10px;
        background: url("\#{resource['avalon-layout:images/extensions/asset-faq@2x.jpg']}") top;
        background-size: cover;
        background-repeat: no-repeat;

        .header-title{
            position: absolute;
            display: flex;
            align-items: center;
            padding: 30px;
            width: 100%;
            height: 100%;
           

            h1{
                font-size: 28px;
                color: #292b2c;
                margin: 0;
            }

            span{
                font-size: 16px;
                color: #777777;
            }
        }

        .header-image{
            padding: 0;
            text-align: right;
            width: 100%;

            img{
                width:85%;
                height: 30vh;
            }
        }
    }

    .icon{
        background-image: linear-gradient(to bottom, #3cafbd, #aac7cb);
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        position: relative;

        i{
            font-size: 30px;
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            width:16px;
            margin-top: -0.5em;
            margin-left: -0.5em;
        }
    } 

    .help-content{
        .card{
            &.accordion-card{
                .card-header{
                    padding-bottom: 15px;
                    .icon{
                        i{
                            left: 60%;
                        }
                    }
                    .title{
                        h1{
                            font-size: 16px;
                            font-weight: 500;
                            color: #292b2c;
                            margin: 0;
                        }
                        span{
                            font-size: 14px;
                            font-weight: normal;
                            color: #777777;
                        }
                    }
                    .feedback-buttons{
                        text-align: right;
                        margin-top: 8px;

                        button{
                            font-size: 14px;
                            padding: 3px 12px;
                            border-radius: 4px;
                            cursor: pointer;
                            margin-bottom: 5px;
                            width: 125px;

                            &.not-helpful{
                                border: solid 1px #de7470;
                                background-color: #f2dede;
                                color: #a94442;
                            }

                            &.helpful{
                                border: solid 1px #8cd6ad;
                                background-color: #e6f6ed;
                                color: #217848;
                            }
                        }
                    }
                    
                }
                
                .card-content{
                    .questions{
                        .ui-accordion{
                            .ui-accordion-header{
                                border-radius: 4px;
                                border: solid 1px #dddddd;
                                background-color: #f5f5f5;
                                font-size: 16px;
                                font-weight: 500;
                                color: #292b2c;
                                padding: 12px 35px;
                            }
                        }
                    }
                }
            }

            &.api-card{
                .card-header{
                    .title{
                        h2{
                            font-size: 14px;
                            color: #292b2c;
                            margin: 0;
                            margin-bottom: 15px;
                        }
                    }

                    .status{
                        P{
                            color: #5cb85c;
                            text-align: right; 
                            margin: 0;
                            margin-bottom: 15px;
                        }
                    }
                }

                .card-content{
                    .progress-bars{
                        padding: 0 10px;
                        display: flex;
                        justify-content: space-between;

                        .progress-bar{
                            height: 65px;
                            background-color: #5cb85c;
                            flex : 0 1 calc((100% / 30 ) - 5px);
                            
                            &:last-child{
                                margin-right: 0;
                            }

                            &.fail{
                                background-color: #d9534f;
                            }
                        }
                    }

                    .days{
                        display: inline-block;
                        color: #999999;
                        font-size: 12px;
                        margin-top: 10px;
                    }

                    .today{
                        text-align: right;
                        display: inline-block;
                        color: #999999;
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
            }

            &.blog-card{
                .card-header{
                    padding-bottom: 15px;

                    .title{
                        h1{
                            font-size: 16px;
                            font-weight: 500;
                            color: #292b2c;
                            margin: 0;
                        }

                        span{
                            font-size: 14px;
                            font-weight: normal;
                            color: #777777;
                        }
                    }
                }

                .card-content{
                    .blog-post{
                        background:  url("\#{resource['avalon-layout:images/extensions/bg-blogpost@2x.jpg']}") center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 150px;
                        border-radius: 4px;
                        border: solid 1px #f5f5f5;
                        margin-bottom: 30px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:nth-child(2){
                            background:  url("\#{resource['avalon-layout:images/extensions/bg-blogpost2@2x.jpg']}") center;
                        }
                        &:nth-child(3){
                            background:  url("\#{resource['avalon-layout:images/extensions/bg-blogpost@3x.jpg']}") center;
                        }

                        .blog-text{
                            margin-left: 20px;

                            h1{
                                font-size: 16px;
                                color: #ffffff;
                                margin-bottom: 5px;
                                font-weight: 700;
                            }
    
                            span{
                                font-size: 14px;
                                color: #ffffff;
                            }
                        }

                        .blog-profile{
                            
                            img{
                                width: 50px;
                                height: 50px;
                                @include border-radius(50%);
                                position: absolute;
                                top: -20px;
                                right: -15px;
                                
                            }
                        }
                      
                    }
                }
            }

        }
    }
}

@media (max-width: 640px){
    .help-wrapper{
        .icon{
            width: 40px;
            height: 40px;

            i{
                font-size: 26px;
            }
        }

        .help-header{
            height: 35vh;
            background-position: bottom;
            background-size: auto;

            .header-title{
                margin-top: 0px;
                padding: 5px;
                
               h1,span{
                   color: #ffffff;
               }

            }
        
        }
    }
}