<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panel id="userDetailsImage" header="#{messages.label_image}" style="max-width:400px">
                <o:graphicImage value="#{userDetailsBean.uploadedImageContents}" dataURI="true"
                    rendered="#{not empty userDetailsBean.uploadedImageContents}" width="200px" />
                <p:fileUpload mode="advanced" fileLimit="1"
                    fileUploadListener="#{userDetailsBean.handleImageUpload}" update="userDetailsImage :growlForm:growl"
                    cancelLabel="#{messages.upload_cancel}" uploadLabel="#{messages.upload_upload}" label="#{messages.upload_choose}"
                    multiple="false" style="overflow:auto;width:380px"/>
            </p:panel>
            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
                <h:outputLabel value="#{messages.field_label_userDetails_telephone}:" for="telephoneEditInput" />
                <p:inputText value="#{userDetailsBean.userDetails.telephone}" id="telephoneEditInput" 
                    label="#{messages.field_label_userDetails_telephone}" />
                <p:message for="telephoneEditInput" display="icon" />
            </p:panelGrid>
        </p:outputPanel>
</html>