<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="userDetailsDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="userDetailsTable" value="#{userDetailsBean.userDetailsList}" var="userDetails" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="userDetailsTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_userDetails}" icon="ui-icon-plusthick" action="#{userDetailsBean.prepareNewUserDetails()}"
                      resetValues="true" update=":editUserDetailsDialog" oncomplete="PF('editUserDetailsDialogWidget').show()"
                      rendered="#{userDetailsBean.isPermitted('userDetails:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="userDetailsTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.label_image}" width="30">
              <o:graphicImage value="#{userDetails.image.content}" dataURI="true"
                  rendered="#{not empty userDetails.image.content}" width="50px"/>
          </p:column>
          
          <p:column  headerText="#{messages.field_label_userDetails_telephone}" width="30" sortBy="#{userDetails.telephone}" filterBy="#{userDetails.telephone}">
            <f:facet name="filter">
                <p:inputText id="telephoneFilter"
                        onkeypress="if (event.keyCode == 13) {PF('userDetailsTable').filter(); updateTelephoneFilter(); return false; }" >
                    <p:remoteCommand name="updateTelephoneFilter" update="userDetailsTable:telephoneFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{userDetails.telephone}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="60" exportable="false">
            
            <p:commandButton icon="ui-icon-zoomin" update=":viewUserDetailsDialog" oncomplete="PF('viewUserDetailsDialogWidget').show()" title="#{messages.label_view}">
              <f:setPropertyActionListener value="#{userDetails}" target="#{userDetailsBean.userDetails}" />
            </p:commandButton>

            <p:commandButton icon="ui-icon-pencil" update=":editUserDetailsDialog"
                resetValues="true" rendered="#{userDetailsBean.isPermitted(userDetails, 'userDetails:update')}"
                action="#{userDetailsBean.onDialogOpen(userDetails)}"
                oncomplete="PF('editUserDetailsDialogWidget').show()"
                title="#{messages.label_edit}" >
            </p:commandButton>

            <p:commandButton icon="ui-icon-close" style="background-color: red ; color: white" rendered="#{userDetailsBean.isPermitted(userDetails, 'userDetails:delete')}"
                oncomplete="PF('deleteUserDetailsDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{userDetails}"
                    target="#{userDetailsBean.userDetails}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteUserDetailsDialog" widgetVar="deleteUserDetailsDialogWidget"
        rendered="#{userDetailsBean.isPermitted(userDetailsBean.userDetails, 'userDetails:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{userDetailsBean.delete}" update=":userDetailsDataForm :growlForm:growl" oncomplete="PF('deleteUserDetailsDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteUserDetailsDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
    <p:dialog dynamic="true" id="editUserDetailsDialog" header="#{messages.label_userDetails_caption}"
            modal="true" widgetVar="editUserDetailsDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{userDetailsBean.reset}"/>
        <h:form id="editUserDetailsForm" >
            <p:outputPanel id="userDetailsEditPanel">
                <ui:include src="/pages/userDetails/userDetailsEditInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{userDetailsBean.persist}"
                            update=":editUserDetailsForm:userDetailsEditPanel :userDetailsDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editUserDetailsDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red; color: white" onclick="PF('editUserDetailsDialogWidget').hide()" type="button" />
                </div>
            </p:outputPanel>
        </h:form>
    </p:dialog>
    
    <p:dialog dynamic="true" id="viewUserDetailsDialog" header="#{messages.label_userDetails_caption}" modal="true" widgetVar="viewUserDetailsDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{userDetailsBean.reset}" />
        <h:form id="viewUserDetailsForm">
          <ui:include src="/pages/userDetails/userDetailsViewInclude.xhtml"/>
          <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white" onclick="PF('viewUserDetailsDialogWidget').hide()" type="button" />
          </div>
        </h:form>
    </p:dialog>
    
  </ui:define>
</ui:composition>
</html>