<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <h:form>
  <p:menu>
    <p:submenu label="#{messages.menu_pages}">
      
      <p:menuitem value="#{messages.menu_userDetailss}" outcome="/pages/userDetails/userDetails.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_mouvements}" outcome="/pages/mouvement/mouvement.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_agences}" outcome="/pages/agence/agence.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_contrats}" outcome="/pages/contrat/contrat.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_retraits}" outcome="/pages/retrait/retrait.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_parametres}" outcome="/pages/parametre/parametre.xhtml" icon="icon-entity" ajax="false" async="false" />
      
    </p:submenu>
    
    <p:submenu label="#{messages.menu_admin}" rendered="#{p:ifGranted('Administrator')}">
      <p:menuitem value="#{messages.menu_user_management}" outcome="/pages/admin/user.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
    </p:submenu>
    
  </p:menu>
  </h:form>
</ui:composition>
</html>