<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:p="http://primefaces.org/ui">
<f:view locale="#{localeBean.locale}" contentType="text/html">
    <ui:debug hotkey="x" rendered="#{facesContext.application.projectStage eq 'Development'}"></ui:debug>
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title><ui:insert name="title">Forexy</ui:insert></title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <h:outputStylesheet library="dist" name="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"/>
        <h:outputStylesheet library="dist" name="css/adminlte.min.css"/>
        <!--        <h:outputStylesheet library="dist" name="plugins/bootstrap/css/bootstrap.min.css"/>-->
        <h:outputStylesheet name="css/layout-cyan.css" library="avalon-layout"/>
    </h:head>
    <h:body class="hold-transition  sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
        <h:form prependId="false" id="growlForm">
            <p:growl id="growl" showDetail="false"/>
        </h:form>
        <div class="wrapper">
            <div class="preloader flex-column justify-content-center align-items-center  ">
                <h:graphicImage class="animation__wobble" library="dist"
                                name="img/Logotype-Forexy-Group-1-ConvertImage.png" alt="AdminLTELogo"
                                height="60"
                                width="60"/>
            </div>
            <!--            <nav class="main-header navbar navbar-expand navbar-light-success bg-success text-sm">-->
            <nav class="main-header navbar navbar-expand navbar-light text-sm " style="background-color:#28918C">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark " data-widget="pushmenu" href="#" role="button"><i
                                class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">#{statBean.notifNumber}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span
                                    class="dropdown-item dropdown-header">#{statBean.notifNumber} notification(s)</span>
                            <div class="dropdown-divider"></div>


                            <p:link outcome="/pages/retrait/retraitToday.xhtml" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> Retrait today
                                (#{statBean.countRetraitTodayByAgence()} cmpt)
                                <span class="float-right text-muted text-sm">#{statBean.sumMoneyRetraitTodayByAgence()}$</span>
                            </p:link>
                            <div class="dropdown-divider"></div>

                            <p:link outcome="/pages/retrait/retraitmonth.xhtml" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> Pour ce mois : (#{statBean.countRetraitMonthByAgence()} cmpt)
                                <span class="float-right text-muted text-sm">#{statBean.sumMoneyRetraitMonthByAgence()}$</span>
                            </p:link>
                            <div class="dropdown-divider"></div>
                            <!--                            <a href="#" class="dropdown-item">-->
                            <!--                                <i class="fas fa-file mr-2"></i> 3 new reports-->
                            <!--                                <span class="float-right text-muted text-sm">2 days</span>-->
                            <!--                            </a>-->
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">Voir toutes les notifications</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" data-widget="fullscreen" href="#" role="button">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <h:graphicImage class="img-circle user-image"
                            style="margin: auto" library="dist"
                            name="img/Logotype-Forexy-Group-1-ConvertImage.png"/>
                            <p:spacer width="5px"></p:spacer>
<!--                            <span class="hidden-xs text-black"> #{userBean.connectedUser.username }</span>-->
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-footer">
                                <div class="">
                                    <h:link outcome="/pages/user/profile.xhtml"
                                            class="btn btn-block btn-success btn-flat">Profile</h:link>
                                </div>
                                <div class="">
                                    <h:form>
                                        <h:commandButton action="#{loginBean.logout}" value="Sign out"
                                                         class="btn btn-block btn-danger btn-flat"></h:commandButton>
                                    </h:form>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <aside class="main-sidebar sidebar-dark-success bg-dark elevation-4 text-sm">
                <div class="sidebar">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <h:graphicImage library="dist" name="img/user2-160x160.jpg" class="img-circle elevation-2"
                                            alt="User Image"/>
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">#{userBean.connectedUser.username}</a>
                        </div>
                    </div>


                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <li class="nav-item">
                                <p:link outcome="#{loginBean.returnDashboard()}" class="nav-link">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </p:link>
                            </li>

                            <li class="nav-item">
                                <p:link outcome="/pages/contrat/contrat.xhtml"
                                        rendered="#{p:ifGranted('Agent')}" class="nav-link">
                                    <i class="nav-icon fas fa-mail-bulk"></i>
                                    <p>
                                        Contrat
                                    </p>
                                </p:link>
                            </li>
                            <li class="nav-item">
                                <p:link outcome="/pages/contrat/contratAll.xhtml"
                                        rendered="#{p:ifAnyGranted('Dg,Daf,Administrator')}" class="nav-link">
                                    <i class="nav-icon fas fa-mail-bulk"></i>
                                    <p>
                                        Contrat
                                    </p>
                                </p:link>
                            </li>
                            <li class="nav-item">
                                <p:link outcome="/pages/retrait/retrait.xhtml"
                                        rendered="#{p:ifAnyGranted('Dg,Administrator,Daf')}" class="nav-link">
                                    <i class="nav-icon fas fa-wallet"></i>
                                    <p>
                                        Retrait
                                    </p>
                                </p:link>
                            </li>

                            <li class="nav-item">
                                <p:link outcome="/pages/mouvement/mouvement.xhtml"
                                        rendered="#{p:ifAnyGranted('AgentReception,Administrator')}"
                                        class="nav-link">
                                    <i class="nav-icon fas fa-walking"></i>
                                    <p>
                                        Mouvement
                                    </p>
                                </p:link>
                            </li>

                            <ui:fragment rendered="#{p:ifAnyGranted('Dg,Daf,Administrator')}">
                                <li class="nav-item ">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-cog"></i>
                                        <p>
                                            Administration
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <p:link outcome="/pages/agence/agence.xhtml" class="nav-link">
                                                <i class="fa fa-landmark nav-icon"></i>
                                                <p>Agences</p>
                                            </p:link>
                                        </li>
                                        <ui:fragment rendered="#{p:ifGranted('Administrator')}">
                                            <li class="nav-item">
                                                <p:link outcome="/pages/admin/user.xhtml" class="nav-link">
                                                    <i class="fa fa-users nav-icon"></i>
                                                    <p>Utilisateurs</p>
                                                </p:link>
                                            </li>
                                        </ui:fragment>
                                        <li class="nav-item">
                                            <p:link rendered="#{p:ifGranted('Administrator')}" outcome="/pages/parametre/parametre.xhtml" class="nav-link active">
                                                <i class="fa fa-cogs nav-icon"></i>
                                                <p>Paramètres</p>
                                            </p:link>
                                        </li>
                                    </ul>
                                </li>
                            </ui:fragment>


                        </ul>
                    </nav>
                </div>
            </aside>


            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0"></h1>
                            </div>
                            <div class="col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <ui:insert name="headerStats">
                                <ui:fragment rendered="#{p:ifAnyGranted('Dg,Daf')}">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box">
                                        <span class="info-box-icon bg-info elevation-1"><i
                                                class="fas fa-credit-card"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Entrées</span>
                                                <span class="info-box-number">#{contratBean.sumContratsByMonth()} $</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                <span class="info-box-icon bg-danger elevation-1"><i
                                        class="fas fa-credit-card"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Sorties</span>
                                                <span class="info-box-number">#{retraitBean.sumRetraitsByMonth()} $</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix hidden-md-up"></div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                    <span class="info-box-icon bg-success elevation-1"><i
                                            class="fas fa-university"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Agences</span>
                                                <span class="info-box-number">#{agenceBean.countAllEntries()}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                    <span class="info-box-icon bg-warning elevation-1"><i
                                            class="fas fa-mail-bulk"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Contrats</span>
                                                <span class="info-box-number">#{contratBean.countAllEntries()}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ui:fragment>
                                <ui:fragment rendered="#{p:ifGranted('Administrator')}">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box">
                                        <span class="info-box-icon bg-info elevation-1"><i
                                                class="fa fa-users"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Utilisateurs</span>
                                                <span class="info-box-number">#{userBean.countAllUsers()}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                <span class="info-box-icon bg-danger elevation-1"><i
                                        class="fas fa-users"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Utilisateurs Connectés</span>
                                                <span class="info-box-number"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix hidden-md-up"></div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                    <span class="info-box-icon bg-success elevation-1"><i
                                            class="fas fa-university"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Agences</span>
                                                <span class="info-box-number">#{agenceBean.countAllEntries()}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <div class="info-box mb-3">
                                    <span class="info-box-icon bg-warning elevation-1"><i
                                            class="fas fa-mail-bulk"></i></span>

                                            <div class="info-box-content">
                                                <span class="info-box-text">Contrats</span>
                                                <span class="info-box-number">#{contratBean.countAllEntries()}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ui:fragment>
                            </ui:insert>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <ui:insert name="content"></ui:insert>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer class="main-footer text-sm elevation-4">
                <strong>Copyright &copy;
                    <h:outputText value="#{now}">
                        <f:convertDateTime pattern="yyyy" type="date"/>
                    </h:outputText>
                    <a href="#" class="text-success">Forexy</a>.
                </strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 0.0.1
                </div>
            </footer>
        </div>
        <!--        <h:outputScript library="dist" name="plugins/jquery/jquery.slim.min.map"/>-->
        <h:outputScript library="dist" name="plugins/bootstrap/js/bootstrap.bundle.min.js"/>
        <h:outputScript library="dist" name="plugins/chart.js/Chart.min.js"/>
        <h:outputScript library="dist" name="js/adminlte.js"/>
        <h:outputScript library="dist" name="js/demo.js"/>
        <h:outputScript library="dist" name="js/pages/dashboard.js"/>


    </h:body>
</f:view>
</html>
