<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
            <div class="card-header">


                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="mouvementDataForm"
                                onkeypress="if (event.keyCode == 13) {return false; }">

                            <p:dataTable id="mouvementTable" tableStyle="table-layout:auto"
                                         class="table table-hover table-striped table-sm table-responsive table-bg no-border"
                                         value="#{mouvementBean.findMouvementsByAgence()}" var="mouvement"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                                         paginatorPosition="bottom" widgetVar="mouvementTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">
                                   Mouvements
                                </f:facet>
                                <p:column  headerText="#{messages.field_label_mouvement_user}" sortBy="#{mouvement.user.username}" width="30"
                                          >
                                    <h:outputText value="#{mouvement.user.username}"/>
                                </p:column>

                                <p:column  headerText="Visiteur" sortBy="#{mouvement.visiteur}" width="30"
                                         >
                                    <h:outputText value="#{mouvement.visiteur}"/>
                                </p:column>

                                <p:column  headerText="#{messages.field_label_mouvement_date}" sortBy="#{mouvement.date}" width="30"
                                         >
                                    <h:outputText value="#{mouvement.date}"><f:convertDateTime/>
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                    </h:outputText>
                                </p:column>

                                <p:column  headerText="#{messages.field_label_mouvement_motif}" width="30"
                                          sortBy="#{mouvement.motif}"
                                         >
                                    <h:outputText value="#{mouvement.motif}"/>
                                </p:column>

                                <p:column  headerText="#{messages.field_label_mouvement_type}" width="30"
                                          sortBy="#{mouvement.type}" >
                                    <h:outputText value="#{mouvementBean.getLabelForType(mouvement.type)}"/>
                                </p:column>



                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          width="60"
                                          exportable="false">

                                    <p:commandButton class="btn btn-info" icon="ui-icon-zoomin" value="Voir" style="background-color: #17A2B4" update=":viewMouvementDialog"
                                                     oncomplete="PF('viewMouvementDialogWidget').show()"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{mouvement}"
                                                                     target="#{mouvementBean.mouvement}"/>
                                    </p:commandButton>

                                    <p:commandButton class="btn btn-success" value="Editer" style="background-color: #28a745" icon="ui-icon-pencil" update=":editMouvementDialog"
                                                     resetValues="true"
                                                     rendered="#{mouvementBean.isPermitted(mouvement, 'mouvement:update')}"
                                                     action="#{mouvementBean.onDialogOpen(mouvement)}"
                                                     oncomplete="PF('editMouvementDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white"
                                                     rendered="#{mouvementBean.isPermitted(mouvement, 'mouvement:delete')}"
                                                     oncomplete="PF('deleteMouvementDialogWidget').show()"
                                                     title="#{messages.label_delete}">
                                        <f:setPropertyActionListener value="#{mouvement}"
                                                                     target="#{mouvementBean.mouvement}"/>
                                    </p:commandButton>

                                </p:column>
                                <f:facet name="footer">
                                    <p:commandButton value="#{messages.create_new_mouvement}" icon="ui-icon-plusthick"
                                                     action="#{mouvementBean.prepareNewMouvement()}"
                                                     resetValues="true" update=":editMouvementDialog"
                                                     oncomplete="PF('editMouvementDialogWidget').show()"
                                                     rendered="#{mouvementBean.isPermitted('mouvement:create')}"
                                                     style="float:right"/>
                                    <p:spacer height="30px"></p:spacer>
                                </f:facet>

                            </p:dataTable>

                        </h:form>
                    </div>
                </div>


            </div>
        </div>


        <p:confirmDialog id="deleteMouvementDialog" widgetVar="deleteMouvementDialogWidget"
                         rendered="#{mouvementBean.isPermitted(mouvementBean.mouvement, 'mouvement:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{mouvementBean.delete}"
                                         update=":mouvementDataForm :growlForm:growl"
                                         oncomplete="PF('deleteMouvementDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteMouvementDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editMouvementDialog" header="#{messages.label_mouvement_caption}"
                  modal="true" widgetVar="editMouvementDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{mouvementBean.reset}"/>
            <h:form id="editMouvementForm">
                <p:outputPanel id="mouvementEditPanel">
                    <ui:include src="/pages/mouvement/mouvementEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{mouvementBean.persist}"
                                         update=":mouvementDataForm :editMouvementForm:mouvementEditPanel :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editMouvementDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                         onclick="PF('editMouvementDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewMouvementDialog" header="#{messages.label_mouvement_caption}" modal="true"
                  widgetVar="viewMouvementDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{mouvementBean.reset}"/>
            <h:form id="viewMouvementForm">
                <ui:include src="/pages/mouvement/mouvementViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" styleClass="btn btn-sm btn-danger" icon="ui-icon-close" style="background-color: red;color: white"
                                     onclick="PF('viewMouvementDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgenceFromEditDialog"
                  rendered="#{mouvementBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_mouvement_create_agence}" modal="true"
                  widgetVar="createAgenceFromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgencePanel">
                <h:form id="createAgenceForm">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideMouvementSelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{mouvementBean.updateAgence(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editMouvementForm:agenceSelectInput :createAgencePanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgenceFromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close" style="background-color: red; color: white"
                                         onclick="PF('createAgenceFromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>