<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Forexy | Reset Password</title>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <h:outputStylesheet library="dist" name="css/sb-admin-2.min.css"/>
</h:head>

<h:body class="" style="background-color:#28918C">
    <div class="container">
        <h:form>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
                                <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                                    <p:graphicImage name="images/waiting.gif" alt="loading..." />
                                </p:dialog>

                                <div class="col-lg-6 d-none d-lg-block">
                                    <h:graphicImage class="img-circle user-image"
                                                    style="width: 350px" height="350px" library="images"
                                                    name="forexy-group.JPG"/>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">#{messages.reset_password_enter_email}</h1>
                                            <p style="color: red">
                                                <p:messages id="messages" closable="true" showDetail="false"/>
                                            </p>

                                        </div>
                                        <div class="user">
                                            <div class="form-group">

                                                <p:inputText value="#{userForgotPasswordHandlingBean.email}" id="resetPasswordEmailInput" required="true"
                                                             styleClass="form-control form-control-user"
                                                             placeholder="Email..."
                                                             label="#{messages.reset_password_email}" />
                                            </div>

                                            <p:commandLink action="#{userForgotPasswordHandlingBean.sendResetPasswordLink}" value="#{messages.send_email_message}" update="messages"
                                                           class="btn  btn-sm btn-user btn-block"
                                                           style="background-color:#28918C; color: white">

                                            </p:commandLink>
                                            <hr/>
                                        </div>
                                        <div class="text-center">

                                            <h:link class="small" style="color:#28918C"  outcome="/login"><h:outputText style="text-align:center" value="Login" /></h:link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
    <h:outputScript library="dist" name="plugins/bootstrap/js/bootstrap.bundle.min.js"/>
    <h:outputScript library="dist" name="js/sb-admin-2.min.js"/>
</h:body>

</html>
