<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/template.xhtml">
  <ui:define name="content">

      <!--  Email sending may be slow, so show waiting animation to prevent user from sending twice -->
      <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
      <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
          <p:graphicImage name="images/waiting.gif" alt="loading..." />
      </p:dialog>

      <h:form>
          <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
      </h:form>

      <h:form prependId="false">
        <p:panel rendered="#{userForgotPasswordHandlingBean.resetPasswordAccessGranted}">
            <h3><h:outputText value="#{messages.reset_password_enter_email}" /></h3>
            <p:panelGrid columns="3">
                <h:outputText value="#{messages.reset_password_email}:" for="resetPasswordEmailInput" />
                <p:inputText value="#{userForgotPasswordHandlingBean.email}" id="resetPasswordEmailInput" required="true"
                             label="#{messages.reset_password_email}" />
                <p:message for="resetPasswordEmailInput" display="icon" />

                <f:facet name="footer">
                    <p:commandButton action="#{userForgotPasswordHandlingBean.sendResetPasswordLink}" value="#{messages.send_email_message}"/>
                </f:facet>
            </p:panelGrid>
        </p:panel>

        <p:panel rendered="#{!userForgotPasswordHandlingBean.resetPasswordAccessGranted}">
            <h:outputText value="#{messages.access_denied}" />
        </p:panel>
      </h:form>

  </ui:define>
</ui:composition>
</html>