<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<ui:remove>
    <p:outputPanel styleClass="ui-fluid">

        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid"
                     style="max-width:400px">

            <h:outputLabel value="#{messages.field_label_agence_nom}:" for="nomEditInput"/>
            <p:inputText value="#{agenceBean.agence.nom}" id="nomEditInput"
                         label="#{messages.field_label_agence_nom}"/>
            <p:message for="nomEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_idNat}:" for="idNatEditInput"/>
            <p:inputText value="#{agenceBean.agence.idNat}" id="idNatEditInput"
                         label="#{messages.field_label_agence_idNat}"/>
            <p:message for="idNatEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_rcCM}:" for="rcCMEditInput"/>
            <p:inputText value="#{agenceBean.agence.rcCM}" id="rcCMEditInput"
                         label="#{messages.field_label_agence_rcCM}"/>
            <p:message for="rcCMEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_telephone}:" for="telephoneEditInput"/>
            <p:inputText value="#{agenceBean.agence.telephone}" id="telephoneEditInput"
                         label="#{messages.field_label_agence_telephone}"/>
            <p:message for="telephoneEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_email}:" for="emailEditInput"/>
            <p:inputText value="#{agenceBean.agence.email}" id="emailEditInput"
                         label="#{messages.field_label_agence_email}"/>
            <p:message for="emailEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_adresse}:" for="adresseEditInput"/>
            <p:inputText value="#{agenceBean.agence.adresse}" id="adresseEditInput"
                         label="#{messages.field_label_agence_adresse}"/>
            <p:message for="adresseEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_agenceID}:" for="agenceIDEditInput"/>
            <p:inputText value="#{agenceBean.agence.agenceID}" id="agenceIDEditInput"
                         label="#{messages.field_label_agence_agenceID}"/>
            <p:message for="agenceIDEditInput" display="text"/>

            <h:outputLabel value="#{messages.field_label_agence_statut}:" for="statutSelect"/>
            <p:selectOneMenu value="#{agenceBean.agence.statut}" converter="omnifaces.GenericEnumConverter"
                             id="statutSelect">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{agenceBean.statutSelectItems}"/>
            </p:selectOneMenu>
            <p:message for="statutSelect" display="text"/>

        </p:panelGrid>

    </p:outputPanel>
</ui:remove>
<div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_agenceID}:" for="agenceIDEditInput"/>
            <h:inputText value="#{agenceBean.agence.agenceID}" id="agenceIDEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_agenceID}"/>
            <p:message for="agenceIDEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_nom}:" for="nomEditInput"/>
            <h:inputText value="#{agenceBean.agence.nom}" id="nomEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_nom}"/>
            <p:message for="nomEditInput" display="text"/>
        </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_idNat}:" for="idNatEditInput"/>
            <h:inputText value="#{agenceBean.agence.idNat}" id="idNatEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_idNat}"/>
            <p:message for="idNatEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_rcCM}:" for="rcCMEditInput"/>
            <h:inputText value="#{agenceBean.agence.rcCM}" id="rcCMEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_rcCM}"/>
            <p:message for="rcCMEditInput" display="text"/>
        </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_telephone}:" for="telephoneEditInput"/>
            <h:inputText value="#{agenceBean.agence.telephone}" id="telephoneEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_telephone}"/>
            <p:message for="telephoneEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_email}:" for="emailEditInput"/>
            <h:inputText value="#{agenceBean.agence.email}" id="emailEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_email}"/>
            <p:message for="emailEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">

            <h:outputLabel value="#{messages.field_label_agence_province}:" for="provinceEditInput"/>
            <h:inputText value="#{agenceBean.agence.province}" id="provinceEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_province}"/>
            <p:message for="provinceEditInput" display="text"/>
        </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_ville}:" for="villeEditInput"/>
            <h:inputText value="#{agenceBean.agence.ville}" id="villeEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_adresse}"/>
            <p:message for="villeEditInput" display="text"/>
        </div>
    </div>

    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_venue}:" for="avenueEditInput"/>
            <h:inputText value="#{agenceBean.agence.avenue}" id="avenueEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_agence_venue}"/>
            <p:message for="avenueEditInput" display="text"/>
        </div>
    </div>


    <!--    <div class="ui-g-6 ui-sm-12">-->
    <!--        <div class="ui-material no-float mt-0 ">-->
    <!--            <h:outputLabel value="#{messages.field_label_agence_adresse}:" for="adresseEditInput"/>-->
    <!--            <h:inputText value="#{agenceBean.agence.adresse}" id="adresseEditInput"-->
    <!--                         class="form-control form-control-sm form-control-border"-->
    <!--                         label="#{messages.field_label_agence_adresse}"/>-->
    <!--            <p:message for="adresseEditInput" display="text"/>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    -->
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_agence_statut}:" for="statutSelect"/>
            <h:selectOneMenu value="#{agenceBean.agence.statut}"
                             class="form-control form-control-sm form-control-border"
                             converter="omnifaces.GenericEnumConverter"
                             id="statutSelect">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{agenceBean.statutSelectItems}"/>
            </h:selectOneMenu>
            <p:message for="statutSelect" display="text"/>
        </div>
    </div>
</div>
</html>
