<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <h:form id="form1">
            <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false"/>
        </h:form>

        <h:form prependId="false">
            <h:panelGroup rendered="#{! userChangePasswordBean.successpwdchange}">
                <p:panel rendered="#{!userChangePasswordBean.valid}">
                    <h4><h:outputText value="#{messages.profile_page_password_change}"/></h4>
                    <p:panelGrid columns="3">
                        <h:outputText value="#{messages.registration_new_password}:"/>
                        <p:password value="#{userChangePasswordBean.new_password}" id="passwordEditInput"
                                    required="true" match="passwordRepeatEditInput"
                                    label="#{messages.registration_new_password}"/>
                        <p:message for="passwordEditInput" display="icon"/>

                        <h:outputText value="#{messages.registration_new_password_repeat}:"/>
                        <p:password value="#{userChangePasswordBean.new_password_repeat}" id="passwordRepeatEditInput"
                                    required="true"
                                    label="#{messages.registration_new_password_repeat}"/>
                        <p:message for="passwordRepeatEditInput" display="icon"/>

                        <f:facet name="footer">
                            <p:commandButton ajax="false" action="#{userChangePasswordBean.changePassword}"
                                             value="#{messages.change_password_submit}"/>
                        </f:facet>
                    </p:panelGrid>
                </p:panel>
            </h:panelGroup>
            <h:panelGroup rendered="#{userChangePasswordBean.successpwdchange}">


                <p:tab id="OrderStatus">
                    <div style="height: 80%">
                        <div style="text-align: center;">
                            <p:graphicImage style="width: 15%;" library="images" name="check.png"/>
                            <p>
                                Password successfuly changed <br/>
                                Please login with your new credentials.
                            </p>
                            <h:outputLink class="fa fa-home btn btn btn-primary" style="margin-bottom: 5%"
                                          value="#{userChangePasswordBean.baseURL}/">Login page</h:outputLink>
                        </div>
                    </div>
                </p:tab>


            </h:panelGroup>

            <!--        <p:panel rendered="#{!userChangePasswordBean.valid}">-->
            <!--            <h:outputText value="#{messages.url_not_valid}" />-->
            <!--        </p:panel>-->
        </h:form>
    </ui:define>

</ui:composition>
</html>