<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Forexy | Changer le mot de passe</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <h:outputStylesheet library="dist" name="css/adminlte.min.css"/>
</h:head>
<h:body class="hold-transition login-page">
    <h:form id="changepwdForm">
        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>Forexy</b>Group</a>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Vous n'êtes qu'à une étape de votre nouveau mot de passe, récupérez votre mot de passe maintenant.</p>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-sm-12">
                            <div class="ui-material no-float">
                                <h:inputSecret value="#{userChangePasswordBean.new_password}"
                                            placeholder="Mot de passe"
                                            class="form-control form-control-border form-control-sGroup"
                                            id="passwordEditInput" required="true" match="passwordRepeatEditInput"
                                            label="#{messages.registration_new_password}"/>
                                <p:message for="passwordEditInput" display="text"/>
                                <h:inputSecret value="#{userChangePasswordBean.new_password_repeat}"
                                            placeholder="Confirmer votre mot de passe"
                                            class="form-control form-control-border form-control-sGroup"
                                            id="passwordRepeatEditInput" required="true"
                                            label="#{messages.registration_new_password_repeat}"/>
                                <p:message for="passwordRepeatEditInput" display="text"/>
                            </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-1"><br/>
                        <div class="row">
                            <div class="col-12">
                                <p:commandButton class="btn btn-success btn-block"
                                                 action="#{userChangePasswordBean.changePassword}"
                                                 value="Changer votre mot de passe"/>
                            </div>
                        </div>
                        <br/>
                        <a href="#">Connexion</a>
                    </p>
                </div>
            </div>
        </div>
    </h:form>
    <h:outputScript library="dist" name="plugins/bootstrap/js/bootstrap.bundle.min.js"/>
    <h:outputScript library="dist" name="js/adminlte.js"/>
</h:body>
</html>
