<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">

<ui:define name="content">

  <f:view>
        <f:event type="preRenderView" listener="#{userBean.loadCurrentUser()}"/>
  </f:view>

  <h:form id="form1">
    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
  </h:form>
  
    <p:panel>
      <h3><h:outputText value="#{messages.profile_page}" /></h3>
      
      <h4><h:outputText value="#{messages.profile_my_data}" /></h4>
        
      <h:form prependId="false">
      <p:panel id="userEditPanel">
          
            <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">
              <h:outputText value="#{messages.field_label_user_username}:" />
              <h:outputText value="#{userBean.user.username}" />
              <h:outputText value="" />

              <h:outputText value="#{messages.field_label_user_email}:" />
              <h:outputText value="#{userBean.user.email}" />
              <h:outputText value="" />
    
              <h:outputText value="#{messages.field_label_user_roles}:" />
              <p:outputPanel>
                <ui:repeat value="#{userBean.user.roles}" var="role">
                    <h:outputText value="#{role}" /><br/>
                </ui:repeat>
              </p:outputPanel>
              <h:outputText value="" />
              
                <h:outputLabel value="#{messages.field_label_user_details}:" for="detailsSelectInput" rendered="#{not hideDetailsSelectInput}"/>
                <h:panelGroup rendered="#{not hideDetailsSelectInput}">
                    <p:selectOneMenu value="#{userBean.user.details}"
                                    id="detailsSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{userBean.availableDetails}" 
                                    var="userDetails" 
                                    itemLabel="#{userDetails.id}"
                                    itemValue="#{userDetails}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.availableDetails}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideDetailsSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{userDetailsBean.prepareNewUserDetails()}"
                              update=":createDetailsFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createDetailsFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createDetailsFromEditDialog') and userBean.isPermitted('userDetails:create')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="detailsSelectInput" display="icon" rendered="#{not hideDetailsSelectInput}"/>
                </h:panelGroup>
                
                <h:outputLabel value="#{messages.field_label_user_telephone}:" for="telephoneEditInput" />
                <p:inputText value="#{userBean.user.telephone}" id="telephoneEditInput" 
                    label="#{messages.field_label_user_telephone}" />
                <p:message for="telephoneEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput" />
                <p:inputText value="#{userBean.user.adresse}" id="adresseEditInput" 
                    label="#{messages.field_label_user_adresse}" />
                <p:message for="adresseEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_genre}:" for="genreSelect" />
                <p:selectOneMenu value="#{userBean.user.genre}" converter="omnifaces.GenericEnumConverter"  id="genreSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.genreSelectItems}" />
                </p:selectOneMenu>
                <p:message for="genreSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_statutMarital}:" for="statutMaritalSelect" />
                <p:selectOneMenu value="#{userBean.user.statutMarital}" converter="omnifaces.GenericEnumConverter"  id="statutMaritalSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.statutMaritalSelectItems}" />
                </p:selectOneMenu>
                <p:message for="statutMaritalSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_agence}:" for="agenceSelectInput" rendered="#{not hideAgenceSelectInput}"/>
                <h:panelGroup rendered="#{not hideAgenceSelectInput}">
                    <p:selectOneMenu value="#{userBean.user.agence}"
                                    id="agenceSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{userBean.agences}" 
                                    var="agence" 
                                    itemLabel="#{agence.agenceID}"
                                    itemValue="#{agence}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.agences}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideAgenceSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{agenceBean.prepareNewAgence()}"
                              update=":createAgenceFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createAgenceFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createAgenceFromEditDialog') and userBean.isPermitted('agence:create')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="agenceSelectInput" display="icon" rendered="#{not hideAgenceSelectInput}"/>
                </h:panelGroup>
                
              </h:panelGrid>
              
              <div>
                <p:commandButton value="#{messages.user_profile_submit}"
                    icon="ui-icon-disk" action="#{userBean.persist}"
                    update=":userEditPanel :growlForm:growl" />
                <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
              </div>

      </p:panel>
      </h:form>

      <h4><h:outputText value="#{messages.profile_page_password_change}" /></h4>
        
      <h:form prependId="false">
      <p:panel>
      <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputText value="#{messages.user_profile_old_password}:" />
        <p:password value="#{userProfileBean.old_password}" id="passwordOldInput" required="true"
                      label="#{messages.user_profile_old_password}" />
        <p:message for="passwordOldInput" display="icon" />

        <h:outputText value="#{messages.user_profile_new_password}:" />
        <p:password value="#{userProfileBean.new_password}" id="passwordEditInput" required="true" match="passwordRepeatEditInput"
              label="#{messages.user_profile_new_password}" />
        <p:message for="passwordEditInput" display="icon" />
     
        <h:outputText value="#{messages.user_profile_new_password_repeat}:" />
        <p:password value="#{userProfileBean.new_password_repeat}" id="passwordRepeatEditInput" required="true"
              label="#{messages.user_profile_new_password_repeat}" />
        <p:message for="passwordRepeatEditInput" display="icon" />

      </h:panelGrid>
      
      <div>
        <p:commandButton action="#{userProfileBean.update}" value="#{messages.user_profile_submit}" icon="ui-icon-disk" />
        <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
      </div>
      
      </p:panel>
      </h:form>
      
    </p:panel>

</ui:define>
</ui:composition>
</html>