<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="headerStats"></ui:define>
    <ui:define name="content">
        <h:head>
            <style type="text/css">
                div.ui-material {
                    margin-top: 20px;
                }

                input:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px white inset;
                }
            </style>
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"/>
            <h:outputStylesheet library="dist" name="css/adminlte.min.css"/>
            <h:outputStylesheet library="dist" name="css/adminlte.min.css"/>
        </h:head>
        <f:view>
            <f:event type="preRenderView" listener="#{userBean.loadCurrentUser()}"/>
        </f:view>
        <h:form id="msgForm">
            <p:messages id="msg" showDetail="false" closable="true" severity="warn">
                <p:autoUpdate/>
            </p:messages>
        </h:form>
        <h:form id="profileHead">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="card card-outline">
                                <div class="card-body box-profile">
                                    <div class="text-center">
                                        <h:graphicImage library="dist" name="img/user1-128x128.jpg"
                                                        class="profile-user-img img-fluid img-circle"
                                                        alt="User profile picture"/>
                                    </div>
                                    <h3 class="profile-username text-center">Forexy Group</h3>
                                    <p class="text-muted text-center">#{userBean.user.username}</p>
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>Nom</b>
                                            <a class="float-right"
                                               style="color: black">#{userBean.user.nom} #{userBean.user.postnom} #{userBean.user.prenom}</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Email</b>
                                            <a class="float-right" style="color: black"
                                            >#{userBean.user.email}</a
                                            >
                                        </li>
                                        <li class="list-group-item">
                                            <b>Role</b>
                                            <a class="float-right" style="color: black"
                                            >#{userBean.user.roles}</a
                                            >
                                        </li>
                                        <li class="list-group-item">
                                            <b>Téléphone</b>
                                            <a class="float-right" style="color: black"
                                            >#{userBean.user.telephone}</a
                                            >
                                        </li>
                                        <li class="list-group-item">
                                            <b>Genre</b>
                                            <a class="float-right" style="color: black">#{userBean.user.genre}</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Statut marital</b>
                                            <a class="float-right"
                                               style="color: black">#{userBean.user.statutMarital}</a>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Agence</b>
                                            <a class="float-right" style="color: black">#{userBean.user.agence.nom}</a>
                                        </li>
                                    </ul>
                                    <a
                                            href="#"
                                            class="btn btn-block fa fa-cloud-upload"
                                            style="background-color:#28918C"
                                    ><b>Upload</b></a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="active tab-pane" id="profile">
                                            <p:outputPanel>
                                            <div class="ui-g ui-fluid">
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_nom}:"
                                                                       for="nomEditInput"/>
                                                        <h:inputText value="#{userBean.user.nom}" id="nomEditInput"
                                                                     class="form-control form-control-sm form-control-border"/>
                                                        <p:message for="nomEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_postnom}:"
                                                                       for="postnomEditInput"/>
                                                        <h:inputText value="#{userBean.user.postnom}"
                                                                     class="form-control form-control-sm form-control-border"
                                                                     id="postnomEditInput"/>
                                                        <p:message for="postnomEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_prenom}:"
                                                                       for="prenomEditInput"/>
                                                        <h:inputText value="#{userBean.user.prenom}"
                                                                     class="form-control form-control-sm form-control-border"
                                                                     id="prenomEditInput"/>
                                                        <p:message for="prenomEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_email}:"
                                                                       for="emailEditInput"/>
                                                        <h:inputText value="#{userBean.user.email}"
                                                                     class="form-control form-control-sm form-control-border"
                                                                     id="emailEditInput"/>
                                                        <p:message for="emailEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_telephone}:"
                                                                       for="telephoneEditInput"/>
                                                        <h:inputText value="#{userBean.user.telephone}"
                                                                     class="form-control form-control-sm form-control-border"
                                                                     id="telephoneEditInput"/>
                                                        <p:message for="telephoneEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_genre}:"
                                                                       for="genreEditInput"/>
                                                        <h:selectOneMenu value="#{userBean.user.genre}"  class="form-control form-control-sm form-control-border"
                                                                         converter="omnifaces.GenericEnumConverter"  id="genreEditInput">
                                                            <f:selectItem noSelectionOption="true" itemLabel="" />
                                                            <f:selectItems value="#{userBean.genreSelectItems}" />
                                                        </h:selectOneMenu>
                                                        <p:message for="genreEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel
                                                                value="#{messages.field_label_user_statutMarital}:"
                                                                for="statutMaritalEditInput"/>
                                                        <h:selectOneMenu value="#{userBean.user.statutMarital}" converter="omnifaces.GenericEnumConverter"
                                                                         class="form-control form-control-sm form-control-border"
                                                                         id="statutMaritalEditInput">
                                                            <f:selectItem noSelectionOption="true" itemLabel="" />
                                                            <f:selectItems value="#{userBean.statutMaritalSelectItems}" />
                                                        </h:selectOneMenu>
                                                        <p:message for="statutMaritalEditInput" display="text"/>
                                                    </div>
                                                </div>

                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                        <h:outputLabel value="#{messages.field_label_user_adresse}:"
                                                                       for="adresseEditInput"/>
                                                        <h:inputText value="#{userBean.user.adresse}"
                                                                     class="form-control form-control-sm form-control-border"
                                                                     id="adresseEditInput"/>
                                                        <p:message for="adresseEditInput" display="text"/>
                                                    </div>
                                                </div>
                                                <div class="ui-g-6 ui-sm-12">
                                                    <div class="ui-material no-flloat">
                                                    </div>
                                                </div>


                                            </div>
                                            </p:outputPanel>
                                            <div style="text-align: right; margin:10px">
                                                <p:commandButton value="#{messages.user_profile_submit}"
                                                                 icon="ui-icon-disk" action="#{userBean.persist}"
                                                                 update="profileHead :growlForm:growl"/>
                                                <p:commandButton action="#{userProfileBean.cancel}" style="color: white;background-color: red"
                                                                 value="#{messages.label_cancel}" icon="ui-icon-close" immediate="true"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </h:form>
    </ui:define>
</ui:composition>
</html>

