<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">

<ui:define name="content">

  <!--  Email sending may be slow, so show waiting animation to prevent user from sending twice -->
  <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
  <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
      <p:graphicImage name="images/waiting.gif" alt="loading..." />
  </p:dialog>

  <h:form id="form1">
    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
  </h:form>
  
  <h:form prependId="false">
    <p:panel>
      <h3><h:outputText value="#{messages.please_register}" /></h3>
      
      <o:validateEqual components="emailEditInput emailRepeatEditInput"
              showMessageFor="emailRepeatEditInput" message="#{messages.user_email_different_input}"/>
      
      <p:panelGrid columns="3">
        <h:outputLabel for="usernameInput" value="#{messages.registration_username}:" />
        <p:inputText id="usernameInput" required="true"
            value="#{userRegistrationBean.user.username}" label="#{messages.registration_username}">
        </p:inputText>
        <p:message for="usernameInput" display="icon" />
           
        <h:outputLabel value="#{messages.registration_password}:" for="passwordEditInput" />
        <p:password value="#{userRegistrationBean.user.password}" id="passwordEditInput" required="true"
             match="passwordRepeatEditInput" label="#{messages.registration_password}" />
        <p:message for="passwordEditInput" display="icon" />
     
        <h:outputLabel value="#{messages.registration_password_repeat}:" for="passwordRepeatEditInput" />
        <p:password value="#{userRegistrationBean.user.password}" id="passwordRepeatEditInput" required="true"
              label="#{messages.registration_password_repeat}" />
        <p:message for="passwordRepeatEditInput" display="icon" />
     
        <h:outputLabel value="#{messages.registration_email}:" for="emailEditInput" />
        <p:inputText value="#{userRegistrationBean.user.email}" id="emailEditInput"
              label="#{messages.registration_email}" />
        <p:message for="passwordEditInput" display="icon" />
     
        <h:outputLabel value="#{messages.registration_email_repeat}:" for="emailRepeatEditInput" />
        <p:inputText value="#{userRegistrationBean.user.email}" id="emailRepeatEditInput"
                label="#{messages.registration_email_repeat}" />
        <p:message for="emailRepeatEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_details}:" for="detailsSelectInput" rendered="#{not hideDetailsSelectInput}"/>
                <h:panelGroup rendered="#{not hideDetailsSelectInput}">
                    <p:selectOneMenu value="#{userBean.user.details}"
                                    id="detailsSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{userBean.availableDetails}" 
                                    var="userDetails" 
                                    itemLabel="#{userDetails.id}"
                                    itemValue="#{userDetails}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.availableDetails}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideDetailsSelectInput}">
                
                    <p:message for="detailsSelectInput" display="icon" rendered="#{not hideDetailsSelectInput}"/>
                </h:panelGroup>
                
                <h:outputLabel value="#{messages.field_label_user_telephone}:" for="telephoneEditInput" />
                <p:inputText value="#{userBean.user.telephone}" id="telephoneEditInput" 
                    label="#{messages.field_label_user_telephone}" />
                <p:message for="telephoneEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_adresse}:" for="adresseEditInput" />
                <p:inputText value="#{userBean.user.adresse}" id="adresseEditInput" 
                    label="#{messages.field_label_user_adresse}" />
                <p:message for="adresseEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_genre}:" for="genreSelect" />
                <p:selectOneMenu value="#{userBean.user.genre}" converter="omnifaces.GenericEnumConverter"  id="genreSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.genreSelectItems}" />
                </p:selectOneMenu>
                <p:message for="genreSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_statutMarital}:" for="statutMaritalSelect" />
                <p:selectOneMenu value="#{userBean.user.statutMarital}" converter="omnifaces.GenericEnumConverter"  id="statutMaritalSelect">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{userBean.statutMaritalSelectItems}" />
                </p:selectOneMenu>
                <p:message for="statutMaritalSelect" display="icon" />

                <h:outputLabel value="#{messages.field_label_user_agence}:" for="agenceSelectInput" rendered="#{not hideAgenceSelectInput}"/>
                <h:panelGroup rendered="#{not hideAgenceSelectInput}">
                    <p:selectOneMenu value="#{userBean.user.agence}"
                                    id="agenceSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{userBean.agences}" 
                                    var="agence" 
                                    itemLabel="#{agence.agenceID}"
                                    itemValue="#{agence}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{userBean.agences}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideAgenceSelectInput}">
                
                    <p:message for="agenceSelectInput" display="icon" rendered="#{not hideAgenceSelectInput}"/>
                </h:panelGroup>
                
        <f:facet name="footer">
            <p:commandButton action="#{userRegistrationBean.register}" value="#{messages.registration_submit}"/>
        </f:facet>
      </p:panelGrid>
    </p:panel>

  </h:form>

</ui:define>
</ui:composition>
</html>