<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not userDetailsBean.isPermitted(userDetailsBean.userDetails, 'userDetails:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:panel header="#{messages.label_image}" style="max-width:400px" rendered="#{userDetailsBean.isPermitted(userDetailsBean.userDetails, 'userDetails:read')}">
        <o:graphicImage value="#{userDetailsBean.uploadedImageContents}" dataURI="true"
            rendered="#{not empty userDetailsBean.uploadedImageContents}" width="200px"/>
    </p:panel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{userDetailsBean.isPermitted(userDetailsBean.userDetails, 'userDetails:read')}">
        
        <h:outputText value="#{messages.field_label_userDetails_telephone}:" />
        <h:outputText value="#{userDetailsBean.userDetails.telephone}" />

    </h:panelGrid>
</html>