<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not parametreBean.isPermitted(parametreBean.parametre, 'parametre:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{parametreBean.isPermitted(parametreBean.parametre, 'parametre:read')}">
        
        <h:outputText value="#{messages.field_label_parametre_date}:" />
        <h:outputText value="#{parametreBean.parametre.date}" ><f:convertDateTime /></h:outputText>

        <h:outputText value="#{messages.field_label_parametre_nom}:" />
        <h:outputText value="#{parametreBean.parametre.nom}" />

        <h:outputText value="#{messages.field_label_parametre_valeur}:" />
        <h:outputText value="#{parametreBean.parametre.valeur}" />

        <h:outputText value="#{messages.field_label_parametre_description}:" />
        <h:outputText value="#{parametreBean.parametre.description}" />

        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{parametreBean.parametre.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{parametreBean.parametre.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{parametreBean.parametre.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{parametreBean.parametre.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>