<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
            <div class="card-header">
                <h5 class="card-title">Mouvements</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="parametreDataForm"
                                onkeypress="if (event.keyCode == 13) {return false; }">

                            <p:dataTable id="parametreTable" styleClass="no-border table table-hover table-striped table-sm table-responsive table-bg" value="#{parametreBean.lazyModel}" var="parametre"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                                         paginatorPosition="bottom" widgetVar="parametreTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">

                                    <p:commandButton value="#{messages.create_new_parametre}" icon="ui-icon-plusthick"
                                                     action="#{parametreBean.prepareNewParametre()}"
                                                     resetValues="true" update=":editParametreDialog"
                                                     oncomplete="PF('editParametreDialogWidget').show()"
                                                     rendered="#{parametreBean.isPermitted('parametre:create')}"
                                                     style="float:left"/>

                                    <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}"
                                                     icon="ui-icon-calculator"/>
                                    <p:columnToggler datasource="parametreTable" trigger="toggler"/>
                                </f:facet>

                                <p:column headerText="#{messages.field_label_parametre_date}" sortBy="#{parametre.date}" width="30"
                                          filterBy="#{parametre.date}">
                                    <f:facet name="filter">
                                        <p:inputText id="dateFilter"
                                                     onkeyup="if (event.keyCode == 13) {PF('parametreTable').filter(); updateDateFilter(); return false;}">
                                            <p:remoteCommand name="updateDateFilter"
                                                             update="parametreTable:dateFilter"/>
                                            <f:convertDateTime/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{parametre.date}"><f:convertDateTime/></h:outputText>
                                </p:column>

                                <p:column headerText="#{messages.field_label_parametre_nom}" sortBy="#{parametre.nom}" width="30"
                                          filterBy="#{parametre.nom}">
                                    <f:facet name="filter">
                                        <p:inputText id="nomFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('parametreTable').filter(); updateNomFilter(); return false; }">
                                            <p:remoteCommand name="updateNomFilter" update="parametreTable:nomFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{parametre.nom}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_parametre_valeur}" width="30"
                                          sortBy="#{parametre.valeur}" filterBy="#{parametre.valeur}">
                                    <f:facet name="filter">
                                        <p:inputText id="valeurFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('parametreTable').filter(); updateValeurFilter(); return false; }">
                                            <p:remoteCommand name="updateValeurFilter"
                                                             update="parametreTable:valeurFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{parametre.valeur}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_parametre_description}" width="30"
                                          sortBy="#{parametre.description}" filterBy="#{parametre.description}">
                                    <f:facet name="filter">
                                        <p:inputText id="descriptionFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('parametreTable').filter(); updateDescriptionFilter(); return false; }">
                                            <p:remoteCommand name="updateDescriptionFilter"
                                                             update="parametreTable:descriptionFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText value="#{parametre.description}"/>
                                </p:column>

                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          width="60" exportable="false">

                                    <p:commandButton icon="ui-icon-zoomin" update=":viewParametreDialog"
                                                     oncomplete="PF('viewParametreDialogWidget').show()"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{parametre}"
                                                                     target="#{parametreBean.parametre}"/>
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-pencil" update=":editParametreDialog"
                                                     resetValues="true"
                                                     rendered="#{parametreBean.isPermitted(parametre, 'parametre:update')}"
                                                     action="#{parametreBean.onDialogOpen(parametre)}"
                                                     oncomplete="PF('editParametreDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white"
                                                     rendered="#{parametreBean.isPermitted(parametre, 'parametre:delete')}"
                                                     oncomplete="PF('deleteParametreDialogWidget').show()"
                                                     title="#{messages.label_delete}">
                                        <f:setPropertyActionListener value="#{parametre}"
                                                                     target="#{parametreBean.parametre}"/>
                                    </p:commandButton>

                                </p:column>

                            </p:dataTable>

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <p:confirmDialog id="deleteParametreDialog" widgetVar="deleteParametreDialogWidget"
                         rendered="#{parametreBean.isPermitted(parametreBean.parametre, 'parametre:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{parametreBean.delete}"
                                         update=":parametreDataForm :growlForm:growl"
                                         oncomplete="PF('deleteParametreDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteParametreDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editParametreDialog" header="#{messages.label_parametre_caption}"
                  modal="true" widgetVar="editParametreDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{parametreBean.reset}"/>
            <h:form id="editParametreForm">
                <p:outputPanel id="parametreEditPanel">
                    <ui:include src="/pages/parametre/parametreEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{parametreBean.persist}"
                                         update=":editParametreForm:parametreEditPanel :parametreDataForm :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editParametreDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                         onclick="PF('editParametreDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewParametreDialog" header="#{messages.label_parametre_caption}" modal="true"
                  widgetVar="viewParametreDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{parametreBean.reset}"/>
            <h:form id="viewParametreForm">
                <ui:include src="/pages/parametre/parametreViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" style="background-color: red;color: white"
                                     onclick="PF('viewParametreDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>