<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">

<!--                <h:outputLabel value="#{messages.field_label_parametre_date}:" for="dateEditInput" />-->
<!--                <p:calendar id="dateEditInput" navigator="true" value="#{parametreBean.parametre.date}" label="#{messages.field_label_parametre_date}" />-->
<!--                <p:message for="dateEditInput" display="icon" />-->

                <h:outputLabel value="#{messages.field_label_parametre_nom}:" for="nomEditInput" />

                <p:selectOneMenu disabled="#{not (parametreBean.parametre.nom eq null)}" value="#{parametreBean.parametre.nom}"   id="nomEditInput">
                    <f:selectItem noSelectionOption="true" itemLabel="" />
                    <f:selectItems value="#{parametreBean.nameSelectItems}" />
                </p:selectOneMenu>

<!--                <p:inputText value="#{parametreBean.parametre.nom}" id="nomEditInput"-->
<!--                    label="#{messages.field_label_parametre_nom}" />-->
                <p:message for="nomEditInput" display="icon" />



                <h:outputLabel value="#{messages.field_label_parametre_valeur}:" for="valeurEditInput" />
                <p:inputText value="#{parametreBean.parametre.valeur}" id="valeurEditInput"
                    label="#{messages.field_label_parametre_valeur}" />
                <p:message for="valeurEditInput" display="icon" />

                <h:outputLabel value="#{messages.field_label_parametre_description}:" for="descriptionEditInput" />
                <p:inputText value="#{parametreBean.parametre.description}" id="descriptionEditInput"
                    label="#{messages.field_label_parametre_description}" />
                <p:message for="descriptionEditInput" display="icon" />

            </p:panelGrid>

        </p:outputPanel>
</html>
