<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <div class="card elevation-2">
        <div class="card-header">
        <h5 class="card-title"></h5>
        <div class="card-body p-0">
        <div class="table-responsive">

        <h:form prependId="false" id="userDataForm"
            onkeypress="if (event.keyCode == 13) {return false; }">

            <p:dataTable id="userTable" class="no-border table table-hover table-striped table-sm table-responsive table-bg" value="#{userBean.lazyModel}" var="user"
                resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                lazy="true" paginatorPosition="bottom" widgetVar="userTable"
                emptyMessage="#{messages.label_no_records_found}" reflow="true">

                <f:facet name="header">
                    Utilisateurs
                </f:facet>

                <p:column headerText="#{messages.field_label_user_username}" width="30"
                          sortBy="#{user.username}" >
                    <h:outputText value="#{user.username}" />
                </p:column>

                <p:column headerText="#{messages.field_label_user_email}" width="50"
                          sortBy="#{user.email}">

                    <h:outputText value="#{user.email}" />
                </p:column>
                
                <p:column headerText="#{messages.field_label_user_status}" width="30"
                          sortBy="#{user.status}" >

                    <h:outputText value="#{user.status.toString()}" />
                </p:column>
                
                <p:column headerText="#{messages.field_label_user_createdAt}" width="30"
                          sortBy="#{user.createdAt}">
                    <h:outputText value="#{user.createdAt}"><f:convertDateTime /></h:outputText>
                </p:column>

          <p:column  headerText="#{messages.field_label_user_telephone}" width="30" sortBy="#{user.telephone}">

            <h:outputText value="#{user.telephone}" />
          </p:column>

          <p:column  headerText="#{messages.field_label_user_adresse}" width="30" sortBy="#{user.adresse}">
            <h:outputText value="#{user.adresse}" />
          </p:column>

          <p:column headerText="#{messages.field_label_user_genre}" width="30"
                    sortBy="#{user.genre}" >
              <h:outputText value="#{userBean.getLabelForGenre(user.genre)}" />
          </p:column>

          <p:column headerText="#{messages.field_label_user_statutMarital}" width="30"
                    sortBy="#{user.statutMarital}" >
              <h:outputText value="#{userBean.getLabelForStatutMarital(user.statutMarital)}" />
          </p:column>

          <p:column headerText="#{messages.field_label_user_agence}" width="30" sortBy="#{user.agence}">
            <h:outputText value="#{user.agence.agenceID}" />
          </p:column>

                <p:column styleClass="action-column"
                    headerText="#{messages.table_actions_column}" width="60"
                    exportable="false">

                    <p:commandButton icon="ui-icon-zoomin" update=":viewUserDialog"
                        oncomplete="PF('viewUserDialogWidget').show()" value="Voir" style="background-color: #17A2B4s"
                        title="#{messages.label_view}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                    <p:commandButton icon="ui-icon-pencil" update=":editUserDialog"
                        resetValues="true" oncomplete="PF('editUserDialogWidget').show()"
                        title="#{messages.label_edit}" value="Editer" style="background-color: #28a745"
                        rendered="#{security.isPermitted('user:update')}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                    <p:commandButton icon="ui-icon-close" style="background-color: red;color: white"
                        oncomplete="PF('deleteUserDialogWidget').show()"
                        title="#{messages.label_delete}" value="Effacer"
                        rendered="#{security.isPermitted('user:delete')}">
                        <f:setPropertyActionListener value="#{user}"
                            target="#{userBean.user}" />
                    </p:commandButton>

                </p:column>
                <f:facet name="footer">
                    <p:commandButton value="#{messages.create_new_user}"
                                     icon="ui-icon-plusthick" title="#{messages.label_create}"
                                     action="#{userBean.prepareNewUser()}" update=":createUserDialog"
                                     resetValues="true"
                                     oncomplete="PF('createUserDialogWidget').show()"
                                     style="float:right"
                                     rendered="#{security.isPermitted('user:create')}" />
                    <p:spacer height="30px"/>

                </f:facet>

            </p:dataTable>

            <h:panelGrid rendered="false" columns="2">
                <p:panel header="#{messages.export_all_data}">

                    <h:commandLink>
                        <h:graphicImage name="images/excel.png" alt="Excel|" />
                        <p:dataExporter type="xls" target="userTable" fileName="Users"/>
                    </h:commandLink>

                    <h:commandLink>
                        <h:graphicImage name="images/pdf.png" alt="PDF|" />
                        <p:dataExporter type="pdf" target="userTable" fileName="Users"/>
                    </h:commandLink>

                    <h:commandLink>
                        <h:graphicImage name="images/csv.png" alt="CSV" />
                        <p:dataExporter type="csv" target="userTable" fileName="Users" />
                    </h:commandLink>
                    <br></br>

                </p:panel>

                <p:panel header="#{messages.export_page_data}">
                    <h:commandLink>
                        <h:graphicImage name="images/excel.png" alt="Excel|" />
                        <p:dataExporter type="xls" target="userTable" fileName="Users"/>
                    </h:commandLink>

                    <h:commandLink>
                        <h:graphicImage name="images/pdf.png" alt="PDF|" />
                        <p:dataExporter type="pdf" target="userTable" fileName="Users"/>
                    </h:commandLink>

                    <h:commandLink>
                        <h:graphicImage name="images/csv.png" alt="CSV" />
                        <p:dataExporter type="csv" target="userTable" fileName="Users"
                            pageOnly="true" />
                    </h:commandLink>

                </p:panel>
            </h:panelGrid>
            
        </h:form>
        </div>
        </div>
        </div>
        </div>

        <p:confirmDialog id="deleteUserDialog"
            widgetVar="deleteUserDialogWidget"
            header="#{messages.label_confirm_deletion}" severity="alarm"
            rendered="#{security.isPermitted('user:delete')}">
            <f:facet name="message">
                <h:outputText value="#{messages.label_delete_record}" escape="false" />
            </f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_yes}"
                            action="#{userBean.delete}"
                            update=":userDataForm :growlForm:growl"
                            oncomplete="PF('deleteUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_no}"
                            onclick="PF('deleteUserDialogWidget').hide()" type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="viewUserDialog"
            header="#{messages.label_user_caption}" modal="true"
            widgetVar="viewUserDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <h:form id="viewUserForm">
                <ui:include src="/pages/admin/userViewInclude.xhtml" />
                <div style="text-align: center; margin: 10px">
                    <p:commandButton value="#{messages.label_close}"
                        icon="ui-icon-close" style="background-color: red;color: white" onclick="PF('viewUserDialogWidget').hide()"
                        type="button" />
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="createUserDialog" resizable="true" responsive="true"
                  width="650px"
            header="#{messages.dialog_header_create_user}" modal="true"
            widgetVar="createUserDialogWidget" maximizable="true"
            rendered="#{security.isPermitted('user:create')}">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <p:outputPanel id="userCreatePanel">
                <h:form id="createUserForm">
                    <ui:include src="/pages/admin/userCreateInclude.xhtml" />
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{userBean.persist}"
                            update=":userCreatePanel :userDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close" style="background-color: red;color: white"
                            onclick="PF('createUserDialogWidget').hide()" type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="editUserDialog" width="650px" resizable="true"
            header="#{messages.dialog_header_edit_user}" modal="true"
            widgetVar="editUserDialogWidget" maximizable="true" responsive="true"
            rendered="#{security.isPermitted('user:update')}">
            <p:ajax event="close" listener="#{userBean.reset}" />
            <p:outputPanel id="userEditPanel">
                <h:form id="editUserForm">
                    <ui:include src="/pages/admin/userEditInclude.xhtml" />
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton value="#{messages.label_save}"
                            icon="ui-icon-disk" action="#{userBean.persist}"
                            update=":userEditPanel :userDataForm :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('editUserDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close" style="background-color: red; color: white" onclick="PF('editUserDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    <p:dialog dynamic="true" id="createAgenceFromEditDialog"
        rendered="#{userBean.isPermitted('agence:create')}"
        header="#{messages.dialog_user_create_agence}" modal="true"
        widgetVar="createAgenceFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{agenceBean.reset}" />
        <p:outputPanel id="createAgencePanel">
                <h:form id="createAgenceForm">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideUserSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{userBean.updateAgence(agenceBean.agence)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{agenceBean.persist}"
                            update=":editUserForm:agenceSelectInput :createAgencePanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createAgenceFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createAgenceFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
    <p:dialog dynamic="true" id="createDetailsFromEditDialog"
        rendered="#{userBean.isPermitted('userDetails:create')}"
        header="#{messages.dialog_user_create_details}" modal="true"
        widgetVar="createDetailsFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{userDetailsBean.reset}" />
        <p:outputPanel id="createDetailsFromEditPanel">
                <h:form id="createDetailsFromEditForm">
                    <ui:include src="/pages/userDetails/userDetailsEditInclude.xhtml">
                        <ui:param name="hideUserSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{userBean.updateDetails(userDetailsBean.userDetails)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{userDetailsBean.persist}"
                            update=":editUserForm:detailsSelectInput :createDetailsFromEditPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createDetailsFromEditDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createDetailsFromEditDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
    </ui:define>

</ui:composition>
</html>