<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form id="form1">
        <p:messages id="messages" showDetail="false" autoUpdate="true"
            closable="false" />
    </h:form>
    <h:form id="loginForm" prependId="false">
        <div>
            <p:panel>
                <h3><h:outputText value="#{messages.please_login}" /></h3>
                
                <!--  TODO Delete this lines for production !!! -->
                <p>The following test users exist:</p>
                <p>admin / admin<br/>
                   
                   daf / daf<br/>
                   
                   dg / dg<br/>
                   
                   agent / agent<br/>
                   
                   agentReception / agentReception<br/>
                   
                   registered / registered<br/>
                   
                </p>
                
                <p:panelGrid columns="2">
                    <h:outputLabel for="username" value="#{messages.login_username}:" />
                    <p:inputText id="username" required="true"
                        value="#{loginBean.username}">
                    </p:inputText>
    
                    <h:outputLabel for="password" value="#{messages.login_password}:" />
                    <p:password id="password" required="true"
                        value="#{loginBean.password}">
                    </p:password>
                    
                    <h:outputLabel for="rememberMe" value="#{messages.login_remember_me}:" />
                    <h:selectBooleanCheckbox id="rememberMe" value="#{loginBean.remember}" />
                    <h:panelGroup />
    
                    <f:facet name="footer">
                        <p:commandButton type="submit" id="login" ajax="false"
                            action="#{loginBean.login}" value="#{messages.login_login}" style="float:right"/>
                    </f:facet>
                </p:panelGrid>
                
                <f:facet name="footer">
                    <h:link outcome="/pages/userManagement/reset"><h:outputText value="#{messages.login_forgot_password}" /></h:link>
                    <br/>
                    <h:outputText value="#{messages.login_not_registered_yet}" /> <h:link outcome="/pages/user/register"><h:outputText value="#{messages.login_register_now}" /></h:link>
                </f:facet>
                
            </p:panel>
        </div>
    </h:form>
  </ui:define>
</ui:composition>
</html>