<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:remove>
    <p:outputPanel styleClass="ui-fluid">

        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid"
                     style="max-width:400px">

            <h:outputLabel value="#{messages.field_label_retrait_montant}:" for="montantEditInput"/>
            <p:inputText value="#{retraitBean.retrait.montant}" id="montantEditInput"
                         label="#{messages.field_label_retrait_montant}">
                <f:convertNumber/>
            </p:inputText>
            <p:message for="montantEditInput" display="icon"/>

            <h:outputLabel value="#{messages.field_label_retrait_contrat}:" for="contratSelectInput"
                           rendered="#{not hideContratSelectInput}"/>
            <h:panelGroup rendered="#{not hideContratSelectInput}">
                <p:selectOneMenu value="#{retraitBean.retrait.contrat}"
                                 id="contratSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel=""/>
                    <f:selectItems value="#{retraitBean.contrats}"
                                   var="contrat"
                                   itemLabel="#{contrat.id}"
                                   itemValue="#{contrat}"/>
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{retraitBean.contrats}"/>
                </p:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{not hideContratSelectInput}">

                <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                                 action="#{contratBean.prepareNewContrat()}"
                                 update=":createContratFromEditDialog"
                                 resetValues="true"
                                 oncomplete="PF('createContratFromEditDialogWidget').show()"
                                 rendered="#{applicationBean.componentExists('createContratFromEditDialog') and retraitBean.isPermitted('contrat:create')}"
                                 style="vertical-align:top;" partialSubmit="true" process="@this">
                </p:commandButton>

                <p:message for="contratSelectInput" display="icon" rendered="#{not hideContratSelectInput}"/>
            </h:panelGroup>

            <h:outputLabel value="#{messages.field_label_retrait_date}:" for="dateEditInput"/>
            <p:calendar id="dateEditInput" navigator="true" value="#{retraitBean.retrait.date}"
                        label="#{messages.field_label_retrait_date}"/>
            <p:message for="dateEditInput" display="icon"/>

            <h:outputLabel value="#{messages.field_label_retrait_user}:" for="userSelectInput"
                           rendered="#{not hideUserSelectInput}"/>
            <h:panelGroup rendered="#{not hideUserSelectInput}">
                <p:selectOneMenu value="#{retraitBean.retrait.user}"
                                 id="userSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel=""/>
                    <f:selectItems value="#{retraitBean.users}"
                                   var="user"
                                   itemLabel="#{user.username}"
                                   itemValue="#{user}"/>
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{retraitBean.users}"/>
                </p:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{not hideUserSelectInput}">

                <p:message for="userSelectInput" display="icon" rendered="#{not hideUserSelectInput}"/>
            </h:panelGroup>

            <h:outputLabel value="#{messages.field_label_retrait_agence}:" for="agenceSelectInput"
                           rendered="#{not hideAgenceSelectInput}"/>
            <h:panelGroup rendered="#{not hideAgenceSelectInput}">
                <p:selectOneMenu value="#{retraitBean.retrait.agence}"
                                 id="agenceSelectInput">
                    <f:selectItem noSelectionOption="true" itemLabel=""/>
                    <f:selectItems value="#{retraitBean.agences}"
                                   var="agence"
                                   itemLabel="#{agence.agenceID}"
                                   itemValue="#{agence}"/>
                    <o:converter converterId="omnifaces.SelectItemsConverter" list="#{retraitBean.agences}"/>
                </p:selectOneMenu>
            </h:panelGroup>
            <h:panelGroup rendered="#{not hideAgenceSelectInput}">

                <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                                 action="#{agenceBean.prepareNewAgence()}"
                                 update=":createAgenceFromEditDialog"
                                 resetValues="true"
                                 oncomplete="PF('createAgenceFromEditDialogWidget').show()"
                                 rendered="#{applicationBean.componentExists('createAgenceFromEditDialog') and retraitBean.isPermitted('agence:create')}"
                                 style="vertical-align:top;" partialSubmit="true" process="@this">
                </p:commandButton>

                <p:message for="agenceSelectInput" display="icon" rendered="#{not hideAgenceSelectInput}"/>
            </h:panelGroup>

        </p:panelGrid>

    </p:outputPanel>
</ui:remove>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_retrait_montant}:" for="montantEditInput"/>
            <h:inputText value="#{retraitBean.retrait.montant}" id="montantEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_retrait_montant}">
                <f:convertNumber/>
            </h:inputText>
            <p:message for="montantEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-12 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_retrait_contrat}:" for="contratSelectInput"
                           rendered="#{not hideContratSelectInput}"/>
            <h:selectOneMenu value="#{retraitBean.retrait.contrat}"
                             class="form-control form-control-sm form-control-border"
                             id="contratSelectInput">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{retraitBean.contrats}"
                               var="contrat"
                               itemLabel="#{contrat.contratID}"
                               itemValue="#{contrat}"/>
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{retraitBean.contrats}"/>
            </h:selectOneMenu>
            <p:message for="contratSelectInput" display="text"/>
        </div>
    </div>
</div>

</html>