<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not retraitBean.isPermitted(retraitBean.retrait, 'retrait:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{retraitBean.isPermitted(retraitBean.retrait, 'retrait:read')}">
        
        <h:outputText value="#{messages.field_label_retrait_montant}:" />
        <h:outputText value="#{retraitBean.retrait.montant} $" ><f:convertNumber /></h:outputText>

        <h:outputText value="#{messages.field_label_retrait_contrat}:" />
        <h:outputText value="#{retraitBean.retrait.contrat.contratID}" />

        <h:outputText value="#{messages.field_label_retrait_date}:" />
        <h:outputText value="#{retraitBean.retrait.date}" ><f:convertDateTime pattern="dd/MM/yyyy" /></h:outputText>

        <h:outputText value="#{messages.field_label_retrait_user}:" />
        <h:outputText value="#{retraitBean.retrait.user.username}" />

        <h:outputText value="#{messages.field_label_retrait_agence}:" />
        <h:outputText value="#{retraitBean.retrait.agence.agenceID}" />

        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{retraitBean.retrait.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{retraitBean.retrait.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{retraitBean.retrait.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{retraitBean.retrait.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>