<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/template.xhtml">
    <ui:define name="content">
        <style type="text/css">
            .shipped {
                background-color: #defebd;
                color: #000000 !important;
            }

            .cancelled {
                background-color: indianred;
                color: #000000 !important;
            }
        </style>
        <!--        rowStyleClass="#{(retrait.status == 'INITIE') ? 'cancelled'-->
        <!--        : (retrait.status == 'CONFIRME') ? 'shipped'-->
        <!--        : (retrait.status == 'SHIPPED') ? 'shipped': ''}"-->

        <div class="card elevation-2">
            <div class="card-header">
                <h5 class="card-title"></h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <h:form prependId="false" id="retraitDataForm"
                                onkeypress="if (event.keyCode == 13) {return false; }">

                            <!--
                                                        <p:dataTable id="retraitTable"
                                                                     rowStyleClass="#{ true ? 'cancelled' : 'shipped'}"
                                                                     class="no-border table table-hover table-striped table-sm table-responsive table-bg"
                                                                     value="#{retraitBean.lazyModel}" var="retrait"
                                                                     resizableColumns="true" paginator="true"
                                                                     paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                     rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                                                                     paginatorPosition="bottom" widgetVar="retraitTable"
                                                                     emptyMessage="#{messages.label_no_records_found}"
                                                               reflow="true">
   -->
                            <p:dataTable id="retraitTable"
                                         rowStyleClass="#{ true ? 'cancelled' : 'shipped'}"
                                         class="no-border table table-hover table-striped table-sm table-responsive table-bg"
                                         value="#{statBean.retraitsByAgence}" var="retrait"
                                         resizableColumns="true" paginator="true"
                                         paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                                         paginatorPosition="bottom" widgetVar="retraitTable"
                                         emptyMessage="#{messages.label_no_records_found}"
                                         reflow="true">

                                <f:facet name="header">
                                    Paiements
                                </f:facet>

                                <p:column headerText="#{messages.field_label_contrat_nom}"
                                          sortBy="#{retrait.contrat.nom}"
                                          width="30">
                                    <f:facet name="filter">
                                        <p:inputText id="nomFilter"
                                                     onkeypress="if (event.keyCode == 13) {PF('retraitTable').filter(); updateNomFilter(); return false; }">
                                            <p:remoteCommand name="updateNomFilter" update="retraitTable:nomFilter"/>
                                        </p:inputText>
                                    </f:facet>
                                    <h:outputText
                                            value="#{retrait.contrat.nom} #{retrait.contrat.postNom} #{contrat.prenom}"/>
                                </p:column>


                                <p:column headerText="#{messages.field_label_retrait_status}" width="30"
                                          sortBy="#{retrait.status}">
                                    <h:outputText value="#{retrait.status}"></h:outputText>
                                </p:column>

                                <p:column headerText="#{messages.field_label_retrait_contrat}" width="30"
                                          sortBy="#{retrait.contrat}">
                                    <h:outputText value="#{retrait.contrat.contratID}"/>
                                </p:column>

                                <p:column headerText="#{messages.field_label_retrait_montant}" width="30"
                                          sortBy="#{retrait.montant}">

                                    <h:outputText value="#{retrait.montant} USD"><f:convertNumber/></h:outputText>
                                </p:column>


                                <p:column headerText="#{messages.field_label_contrat_date_echeance}" width="30"
                                          sortBy="#{retrait.echeance}">

                                    <h:outputText value="#{retrait.echeance}"></h:outputText>
                                </p:column>


                                <p:column headerText="#{messages.field_label_retrait_date}" sortBy="#{retrait.date}"
                                          width="30"
                                >

                                    <h:outputText value="#{retrait.date}"><f:convertDateTime
                                            pattern="dd/MM/yyyy"/></h:outputText>
                                </p:column>


                                <p:column headerText="#{messages.field_label_retrait_agence}" sortBy="#{retrait.agence}"
                                          width="30"
                                >

                                    <h:outputText value="#{retrait.agence.agenceID}"/>
                                </p:column>

                                <p:column styleClass="action-column" headerText="#{messages.table_actions_column}"
                                          width="60" exportable="false">

                                    <p:commandButton icon="ui-icon-zoomin" update=":viewRetraitDialog"
                                                     value="Voir" style="background-color: #17A2B4"
                                                     oncomplete="PF('viewRetraitDialogWidget').show()"
                                                     title="#{messages.label_view}">
                                        <f:setPropertyActionListener value="#{retrait}"
                                                                     target="#{retraitBean.retrait}"/>
                                    </p:commandButton>


                                    <p:commandButton icon="ui-icon-pencil" update=":editRetraitDialog"
                                                     resetValues="true" value="Editer" style="background-color: #28a745"
                                                     rendered="#{false and retraitBean.isPermitted(retrait, 'retrait:update')}"
                                                     action="#{retraitBean.onDialogOpen(retrait)}"
                                                     oncomplete="PF('editRetraitDialogWidget').show()"
                                                     title="#{messages.label_edit}">
                                    </p:commandButton>

                                    <p:commandButton icon="ui-icon-check" value="Confirmer"
                                                     style="background-color: darkgreen;color: white">
                                        oncomplete="PF('confirmRetraitDialogWidget').show()"
                                        title="#{messages.label_confirm}">
                                        <f:setPropertyActionListener value="#{retrait}"
                                                                     target="#{retraitBean.retrait}"/>
                                    </p:commandButton>

                                    <!--                                    <p:commandButton icon="ui-icon-close"-->
                                    <!--                                                     style="background-color: red;color: white"-->
                                    <!--                                                     rendered="#{retraitBean.isPermitted(retrait, 'retrait:delete')}"-->
                                    <!--                                                     oncomplete="PF('deleteRetraitDialogWidget').show()"-->
                                    <!--                                                     title="#{messages.label_delete}">-->
                                    <!--                                        <f:setPropertyActionListener value="#{retrait}"-->
                                    <!--                                                                     target="#{retraitBean.retrait}"/>-->
                                    <!--                                    </p:commandButton>-->

                                </p:column>
                                <f:facet name="footer">
                                    <!--                                    <p:commandButton value="#{messages.create_new_retrait}" icon="ui-icon-plusthick"-->
                                    <!--                                                     action="#{retraitBean.prepareNewRetrait()}"-->
                                    <!--                                                     resetValues="true" update=":editRetraitDialog"-->
                                    <!--                                                     oncomplete="PF('editRetraitDialogWidget').show()"-->
                                    <!--                                                     rendered="#{retraitBean.isPermitted('retrait:create')}"-->
                                    <!--                                                     style="float:right"/>-->

                                    <p:spacer height="30px"/>
                                </f:facet>

                            </p:dataTable>

                            <h:panelGrid rendered="false" columns="2">
                                <p:panel header="#{messages.export_all_data}">

                                    <h:commandLink>
                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>
                                        <p:dataExporter type="xls" target="retraitTable" fileName="Retraits"/>
                                    </h:commandLink>

                                    <h:commandLink>
                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>
                                        <p:dataExporter type="pdf" target="retraitTable" fileName="Retraits"/>
                                    </h:commandLink>

                                    <h:commandLink>
                                        <h:graphicImage name="images/csv.png" alt="CSV"/>
                                        <p:dataExporter type="csv" target="retraitTable" fileName="Retraits"/>
                                    </h:commandLink>

                                </p:panel>

                                <p:panel header="#{messages.export_page_data}">
                                    <h:commandLink>
                                        <h:graphicImage name="images/excel.png" alt="Excel|"/>
                                        <p:dataExporter type="xls" target="retraitTable" fileName="Retraits"
                                                        pageOnly="true"/>
                                    </h:commandLink>

                                    <h:commandLink>
                                        <h:graphicImage name="images/pdf.png" alt="PDF|"/>
                                        <p:dataExporter type="pdf" target="retraitTable" fileName="Retraits"
                                                        pageOnly="true"/>
                                    </h:commandLink>

                                    <h:commandLink>
                                        <h:graphicImage name="images/csv.png" alt="CSV"/>
                                        <p:dataExporter type="csv" target="retraitTable" fileName="Retraits"
                                                        pageOnly="true"/>
                                    </h:commandLink>

                                </p:panel>
                            </h:panelGrid>

                        </h:form>
                    </div>
                </div>
            </div>
        </div>
        <p:confirmDialog id="deleteRetraitDialog" widgetVar="deleteRetraitDialogWidget"
                         rendered="#{retraitBean.isPermitted(retraitBean.retrait, 'retrait:delete')}"
                         header="#{messages.label_confirm_deletion}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" action="#{retraitBean.delete}"
                                         update=":retraitDataForm :growlForm:growl"
                                         oncomplete="PF('deleteRetraitDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('deleteRetraitDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:confirmDialog id="confirmRetraitDialog" widgetVar="confirmRetraitDialogWidget"
                         header="#{messages.label_confirm_withdraw_header}"
                         rendered="#{retraitBean.isPermitted(retraitBean.retrait, 'retrait:update')}"
                         severity="alarm">
            <f:facet name="message"><h:outputText value="#{messages.label_confirm_withdraw}" escape="false"/></f:facet>
            <p:outputPanel>
                <h:form>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_yes}" actionListener="#{retraitBean.confirm}"
                                         update=":retraitDataForm :growlForm:growl"
                                         oncomplete="PF('confirmRetraitDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_no}" onclick="PF('confirmRetraitDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:confirmDialog>

        <p:dialog dynamic="true" id="editRetraitDialog" header="#{messages.label_retrait_caption}"
                  modal="true" widgetVar="editRetraitDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{retraitBean.reset}"/>
            <h:form id="editRetraitForm">
                <p:outputPanel id="retraitEditPanel">
                    <ui:include src="/pages/retrait/retraitEditInclude.xhtml"/>
                    <div style="text-align: center; margin:10px">
                        <p:commandButton value="#{messages.label_save}"
                                         icon="ui-icon-disk" action="#{retraitBean.persist}"
                                         update=":editRetraitForm:retraitEditPanel :retraitDataForm :growlForm:growl"
                                         oncomplete="if(!args.validationFailed) PF('editRetraitDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}" icon="ui-icon-close"
                                         style="background-color: red;color: white"
                                         onclick="PF('editRetraitDialogWidget').hide()" type="button"/>
                    </div>
                </p:outputPanel>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="viewRetraitDialog" header="#{messages.label_retrait_caption}" modal="true"
                  widgetVar="viewRetraitDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{retraitBean.reset}"/>
            <h:form id="viewRetraitForm">
                <ui:include src="/pages/retrait/retraitViewInclude.xhtml"/>
                <div style="text-align: center; margin:10px">
                    <p:commandButton value="#{messages.label_close}" icon="ui-icon-close"
                                     style="background-color: red ; color: white"
                                     onclick="PF('viewRetraitDialogWidget').hide()" type="button"/>
                </div>
            </h:form>
        </p:dialog>

        <p:dialog dynamic="true" id="createContratFromEditDialog"
                  rendered="#{retraitBean.isPermitted('contrat:create')}"
                  header="#{messages.dialog_retrait_create_contrat}" modal="true"
                  widgetVar="createContratFromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{contratBean.reset}"/>
            <p:outputPanel id="createContratPanel">
                <h:form id="createContratForm">
                    <ui:include src="/pages/contrat/contratEditInclude.xhtml">
                        <ui:param name="hideRetraitSelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{retraitBean.updateContrat(contratBean.contrat)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{contratBean.persist}"
                                update=":editRetraitForm:contratSelectInput :createContratPanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createContratFromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close"
                                         style="background-color: red ; color: white"
                                         onclick="PF('createContratFromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

        <p:dialog dynamic="true" id="createAgenceFromEditDialog"
                  rendered="#{retraitBean.isPermitted('agence:create')}"
                  header="#{messages.dialog_retrait_create_agence}" modal="true"
                  widgetVar="createAgenceFromEditDialogWidget" maximizable="true">
            <p:ajax event="close" listener="#{agenceBean.reset}"/>
            <p:outputPanel id="createAgencePanel">
                <h:form id="createAgenceForm">
                    <ui:include src="/pages/agence/agenceEditInclude.xhtml">
                        <ui:param name="hideRetraitSelectInput" value="true"/>
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                                action="#{retraitBean.updateAgence(agenceBean.agence)}"
                                value="#{messages.label_save}" icon="ui-icon-disk"
                                actionListener="#{agenceBean.persist}"
                                update=":editRetraitForm:agenceSelectInput :createAgencePanel :growlForm:growl"
                                oncomplete="if(!args.validationFailed) PF('createAgenceFromEditDialogWidget').hide()"/>
                        <p:commandButton value="#{messages.label_close}"
                                         icon="ui-icon-close"
                                         style="background-color: red ; color: white"
                                         onclick="PF('createAgenceFromEditDialogWidget').hide()"
                                         type="button"/>
                    </div>
                </h:form>
            </p:outputPanel>
        </p:dialog>

    </ui:define>
</ui:composition>
</html>
