<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not contratBean.isPermitted(contratBean.contrat, 'contrat:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:outputPanel styleClass="ui-fluid" rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:read')}">
        <h:form enctype="multipart/form-data" rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:update')}">
          <h:outputText value="#{messages.label_upload_files}" />
          <p:fileUpload immediate="true"
              fileUploadListener="#{contratBean.handleAttachmentUpload}"
              update=":contratAttachmentsPanel" style="overflow:auto;height:120px;width:620px" fileLimit="1" />
        </h:form>
        <h:form>
          <p:dataTable scrollable="true" scrollHeight="270" resizableColumns="true"
              rendered="#{not empty contratBean.contratAttachments}" style="width:620px"
              var="attachment" value="#{contratBean.contratAttachments}">
            <f:facet name="header"><h:outputText value="#{messages.attachments_uploaded}: " /></f:facet>
            <p:column headerText="#{messages.attachment_filename}" width="500">
                <p:commandButton ajax="false" title=" " ariaLabel=" " label=" " styleClass="btn btn-sm btn-success fa fa-download">
                    <p:fileDownload value="#{contratBean.getAttachmentStreamedContent(attachment)}" />
                </p:commandButton>
                <h:outputText value="#{attachment.fileName}" />
            </p:column>
            <p:column width="40">
                <p:commandButton icon="ui-icon-close" style="background-color: red; color: white" title="#{messages.label_delete}" rendered="#{contratBean.isPermitted(contratBean.contrat, 'contrat:update')}"
                    action="#{contratBean.deleteAttachment(attachment)}" update="@form :growlForm:growl" />
            </p:column>
          </p:dataTable>
        </h:form>
    </p:outputPanel>

</html>