<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

<div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_nom}:" for="nomEditInput"/>
            <h:inputText value="#{contratBean.contrat.nom}" id="nomEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_nom}"/>
            <p:message for="nomEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_postNom}:" for="postNomEditInput"/>
            <h:inputText value="#{contratBean.contrat.postNom}" id="postNomEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_postNom}"/>
            <p:message for="postNomEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_prenom}:" for="prenomEditInput"/>
            <h:inputText value="#{contratBean.contrat.prenom}" id="prenomEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_prenom}"/>
            <p:message for="prenomEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="form-group form-group-sm">
            <h:outputLabel value="#{messages.field_label_contrat_civilite}:" for="civiliteSelect"/>
            <h:selectOneMenu value="#{contratBean.contrat.civilite}" converter="omnifaces.GenericEnumConverter"
                             class="form-control form-control-sm form-control-border" id="civiliteSelect">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{contratBean.civiliteSelectItems}"/>
            </h:selectOneMenu>
            <p:message for="civiliteSelect" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_adresse}:" for="adresseEditInput"/>
            <h:inputText value="#{contratBean.contrat.adresse}" id="adresseEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_adresse}"/>
            <p:message for="adresseEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_piece}:" for="pieceSelect"/>
            <h:selectOneMenu value="#{contratBean.contrat.piece}" converter="omnifaces.GenericEnumConverter"
                             class="form-control form-control-sm form-control-border" id="pieceSelect">
                <f:selectItem noSelectionOption="true" itemLabel=""/>
                <f:selectItems value="#{contratBean.pieceSelectItems}"/>
            </h:selectOneMenu>
            <p:message for="pieceSelect" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_telephone}:" for="telephoneEditInput"/>
            <h:inputText value="#{contratBean.contrat.telephone}" id="telephoneEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_telephone}"/>
            <p:message for="telephoneEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_email}:" for="emailEditInput"/>
            <h:inputText value="#{contratBean.contrat.email}" id="emailEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_email}"/>
            <p:message for="emailEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_montant}:" for="montantEditInput"/>
            <h:inputText value="#{contratBean.contrat.montant}" id="montantEditInput"
                         label="#{messages.field_label_contrat_montant}"
                         class="form-control form-control-sm form-control-border"
                         validatorMessage="Le montant doit supérieur ou égal à 300 USD">
                <f:convertNumber/>
                <f:validateDoubleRange minimum="300" for="montantEditInput"/>
            </h:inputText>
            <p:message for="montantEditInput" display="text"/>
        </div>
    </div>
    <div class="ui-g-6 ui-sm-12">
        <div class="ui-material no-float mt-0 ">
            <h:outputLabel value="#{messages.field_label_contrat_bordereauID}:" for="bordereauIDEditInput"/>
            <h:inputText value="#{contratBean.contrat.bordereauID}" id="bordereauIDEditInput"
                         class="form-control form-control-sm form-control-border"
                         label="#{messages.field_label_contrat_bordereauID}"/>
            <p:message for="bordereauIDEditInput" display="text"/>
        </div>
    </div>

</div>
</html>
